:root {
    --primary: #4da78d;
    --primaryFocused: #3d8d76;
    --secondary: #a3dbcf;
    --complementary: #d6f0e8;
    --font: #1f3a57;
    --h2Font: #195154;
    --lightBackground: #fcfdfa;
    --darkBackground: #f5f9f5;
    --gradientBackground: linear-gradient(to bottom, #fcfdfa 0%, #ddd 100%);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}
body {
    font-family: 'Poppins', sans-serif;
    cursor: default;
    line-height: 1.6;
    padding-top: 5vh;
    color: var(--font);
    background-color: var(--darkBackground);
}
body h2 {
    color: var(--h2Font);
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding: 40px 3%;
    background-color: var(--lightBackground);
    
    border-radius: 30px 30px 0 0;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--lightBackground);
    text-align: center;
    padding: 0 20px;
    flex: 1;
}

footer {
    text-align: center;
    padding: 50px;
    background-color: #333;
    color: white;
    font-size: 1rem;
}

/* HEADER */
.brand {
    display: flex;
    align-items: center;
}
.headerLogo {
    max-width: 50px;
    margin-right: 15px;
}
nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
    margin: 0;
}
nav ul li a {
    text-decoration: none;
    font-size: 1rem;
    color: inherit;
    padding: 8px 12px;
    border-radius: 5px;
    transition: background-color 0.2s ease;
}
nav ul li a:hover {
    background-color: #e6e6e6;
}
nav ul li button {
    padding: 8px 16px;
    font-size: 1.2rem;
    border: none;
    background-color: #f5f5f5;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease, transform 0.1s ease;
}
nav ul li button:hover {
    background-color: #ccc;
}
@media (max-width: 600px) {
    header {
        justify-content: center;
    }
    header nav {
       display: none;
    }
    header img {
        display: none;
    }
}

/* BUTTONS */
a, button, nav ul li{
    transition: background 0.3s, transform 0.2s;
    border: none;
}
a:hover, button:hover, nav ul li:hover {
    transform: scale(1.015);
}

.icon {
    width: 24px;
    height: 24px;
    padding: 2px;
}