:root {
    --primary: #4da78d;
    --secondary: #a3dbcf;
    --complementary: #d6f0e8;
    --font: #1f3a57;
    --lightBackground: #fcfdfa;
    --darkBackground: #f5f9f5;
    --gradientBackground: linear-gradient(to bottom, #fcfdfa 0%, #edf2ed 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    font-family: 'Poppins', sans-serif;
    cursor: default;
    line-height: 1.6;
    padding-top: 5vh;
    color: var(--font);
    background-color: var(--darkBackground);
}
header {
    background-color: var(--lightBackground);
}
main {
    background: var(--gradientBackground);
}

/* BUTTONS */
.apointmentButton, .contact-button, .banner-button {
    transition: background 0.3s, transform 0.2s;
    border: none;
}
.apointmentButton:hover, .contact-button:hover, .banner-button:hover {
    transform: scale(1.01);
}

footer {
    text-align: center;
    padding: 50px;
    background-color: #333;
    color: white;
    font-size: 1rem;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 40px;

    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.05);
}
.brand {
    display: flex;
    align-items: center;
}
.headerLogo {
    max-width: 50px;
    margin-right: 15px;
}
nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
    margin: 0;
}
nav ul li a {
    text-decoration: none;
    font-size: 1rem;
    color: inherit;
    padding: 8px 12px;
    border-radius: 5px;
    transition: background-color 0.2s ease;
}
nav ul li a:hover {
    background-color: #e6e6e6;
}
nav ul li button {
    padding: 8px 16px;
    font-size: 1.2rem;
    border: none;
    background-color: #f5f5f5;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease, transform 0.1s ease;
}
nav ul li button:hover {
    background-color: #ccc;
    transform: scale(1.03);
}
@media (max-width: 600px) {
    header nav {
       display: none;
    }
}