.clientList {
    display: flex;
    flex-direction: column;
    align-items: center;

    overflow-y: auto;
    scroll-snap-type: y mandatory;

    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    max-height: 400px;
}

.clientCard {
    flex: 0 0 auto;
    scroll-snap-align: start;

    border-radius: 5px;
    width: 95%;
    margin: 5px;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    border: 1px solid #ccc;
}

.clientCard:hover {
    transform: scale(1.01);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}