.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}
.hero img {
    height: 100px;
    width: 100px;
}

.dashBoardButtons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
.dashBoardButtons a {
    text-decoration: none;
    font-weight: normal;
}
.dashBoardButtons span {
    font-weight: normal;
}
.dashBoardButtons a,
.dashBoardButtons button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    transition: background 0.3s, transform 0.2s;

    color: #195154;
    text-transform: uppercase;
    font-size: 0.85rem;

    background-color: white;

    padding: 10px;
    
    height: 90px;
    width: 100%;

    border-radius: 12px;
    border: 1px solid #ddd;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.dashBoardButtons a:hover,
.dashBoardButtons button:hover {
    transform: scale(1.01);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.12);
}

.icon-container svg {
    width: 24px;
    height: 24px;
    stroke: var(--font);
    fill: var(--font);
}