/* FORMS */
Form {
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 20px;
}

.formGroup {
    width: 100%;
}

Form label, .fieldLabel, Form input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

Form label, .fieldLabel {
    font-size: 16px;
}

Form input {
    width: 100%;
    font-size: 16px;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

/* MESSAGES */
#welcomeMessage {
    font-weight: bold;
    font-size: 1.6rem;
}
#statusMessage, #errorMessage {
    height: 1rem;
    margin-bottom: 20px;
    opacity: 0.9;
}

#errorMessage {
    opacity: 0.7;
    color: red;
}