html {
  scroll-behavior: smooth;
  scroll-padding-top: 20vh;
}

/* HERO */
.hero {
    display: flex;
    justify-content: center; /* horizontal alignment */
    align-items: center; /* vertical alignment */
}
.hero .hero-content h2 {
    font-size: 3rem;
    margin-bottom: 20px;
}
.hero .hero-content p {
    font-size: 1.2rem;
    margin: 40px 5px;
    max-width: 500px;
    opacity: 80%;
}
.apointmentButton {
    text-decoration: none;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    padding: 15px 30px;
    border-radius: 5px;
    font-size: 1.1rem;
    color: white;
    background-color: var(--primary);
}
.apointmentButton:hover {
    background-color: var(--primaryFocused);
}
.hero img {
    width: 400px;
    height: 400px;
}
@media (max-width: 600px) {
    .hero {
        display: flex;
        flex-direction: column;
    }
    .hero-content {
        text-align: center;
    }
    .hero img {
        width: 90%;
        height: auto;
    }
}

/* BANNER */
.banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    max-width: 1000px;
    background: var(--darkBackground);
    padding: 30px;
    border-radius: 5px;
    gap: 20px;

    border-radius: 12px;
    border: 1px solid #ddd;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.banner h2 {
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 10px;
    color: #195154
}
.banner p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}
.banner-button {
    align-self: flex-end;
    padding: 15px 30px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    font-size: 1.1rem;
    color: white;
    background-color: var(--primary);
}
.banner-button:hover {
    background-color: var(--primaryFocused);
}
@media (max-width: 768px) {
    .banner {
        min-height: 30vh;
    }
    .bannerContent {
        max-width: 95%;
        padding: 20px;
    }
    .bannerContent h2 {
        font-size: 1.6rem;
    }
    .bannerContent p {
        font-size: 1rem;
    }
    .banner-button {
        align-self: center;
        width: 100%;
        text-align: center;
    }
}

/* ABOUT US */
.about-section {
    display: flex;
    justify-content: center; /* horizontal alignment */
    align-items: center; /* vertical alignment */
    gap: 40px
}
.about-content h2 {
    font-size: 2.8rem;
}
.about-content p {
    margin: 50px 0 100px 0;
    font-size: 1.2rem;
    max-width: 500px;
    opacity: 0.9;
}
@media (max-width: 600px) {
    .about-section {
        display: flex;
        flex-direction: column;
        gap: 0;
    }
    .about-content p {
        margin: 20px 0 40px 0;
    }
}

/* ADVANTAGES */
.services-section {
    text-align: center;
    margin-bottom: 30px;
}
.services-section h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}
.services-list {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}
.service-item {
    display: flex;
    flex-direction: column;
    gap: 20px;
    
    background-color: white;
    padding: 20px;
    width: 280px;
    text-align: center;

    border-radius: 12px;
    border: 1px solid #ddd;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.service-item h3 {
    color: #195154;
    font-size: 1.5rem;
}
.service-item p {
    opacity: 90%;
    font-size: 1.2rem;
}

/* CONTACT*/
.contactSection {
    display: flex;
    justify-content: center; /* horizontal alignment */
    align-items: center; /* vertical alignment */
    gap: 40px;
    text-align: center;
    margin-top: 40px;
}
.contactSection div {
    max-width: 500px;
    padding: 20px;
}
.contactSection h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #195154
}
.contactSection p {
    font-size: 1.2rem;
    color: #666;
    margin-bottom: 20px;
}
.contactSection ul {
    list-style-type: none;
    color: #666;
    margin-bottom: 20px;
}
.contactSection ul li {
    font-size: 1.2rem;
    margin: 10px 0;
}
.contactSection a {
    color: white;
    
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2rem;
    display: inline-block;

    text-decoration: underline;
    color: inherit;
    padding: 4px 12px;
    border-radius: 5px;
}
.contactSection a:hover {
    background-color: #e6e6e6;
}

@media (max-width: 600px) {
    .contactSection {
        display: flex;
        flex-direction: column;
        gap: 0;
    }
}