/* HERO */
.hero {
    display: flex;
    justify-content: center; /* horizontal alignment */
    align-items: center; /* vertical alignment */
    padding: 40px 0px;
}
.hero .hero-content h2 {
    font-size: 3rem;
    margin-bottom: 20px;
}
.hero .hero-content p {
    font-size: 1.2rem;
    margin: 40px 5px;
    max-width: 500px;
    opacity: 80%;
}
.apointmentButton {
    text-decoration: none;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    padding: 15px 30px;
    border-radius: 5px;
    font-size: 1.1rem;
    color: white;
    background-color: #5E9771;
}
.apointmentButton:hover {
    background-color: #e47e96;
}
.hero img {
    width: 400px;
    height: 400px;
}
@media (max-width: 600px) {
.hero {
    display: flex;
    flex-direction: column;
}
.hero-content {
    text-align: center;
}
.hero img {
    width: 90%;
    height: auto;
}
}

/* CARROSSEL */
.carousel {
    position: relative;
    max-width: 800px;
}
.carousel-inner {
    position: relative;
    display: grid;
    place-items: center;
}
.slide {
    position: relative;
    grid-column: 1;
    grid-row: 1;
    min-width: 100%;
    top: 0;
    left: 0;
    transition: opacity 0.4s ease-in-out;
    opacity: 0;
}
.slide.active {
    opacity: 1;
}
.slide img {
    width: 100%;
    display: block;
    position: relative;
    margin: 0;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
}
.prev, .next {
    all: unset;
    position: absolute;
    top: 45%;

    background-color: #333;
    opacity: 10%;
    color: white;

    border-radius: 4px;
    border: none;

    cursor: pointer;
    padding: 20px 15px;
    font-size: 28px;
}
.prev {
    left: 5px;
}
.next {
    right: 5px;
}
@media (max-width: 600px) { 
    .prev, .next {
        display: none;
    }
}
.dots-container {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.dot {
    height: 12px;
    width: 24px;
    margin: 5px;
    background-color: #bbb;
    border-radius: 2px;
    display: inline-block;
    cursor: pointer;
}
.active-dot {
    background-color: #717171;
}

/* BANNER */
.banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    max-width: 1000px;
    background: var(--darkBackground);
    padding: 30px;
    border-radius: 5px;
    gap: 20px;

    border-radius: 12px;
    border: 1px solid #ddd;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.banner h2 {
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 10px;
    color: #195154
}
.banner p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}
.banner-button {
    align-self: flex-end;
    padding: 15px 30px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    font-size: 1.1rem;
    color: white;
    background-color: #5E9771;
}
.banner-button:hover {
    background-color: #e47e96;
}
@media (max-width: 768px) {
    .banner {
        min-height: 30vh;
    }
    .bannerContent {
        max-width: 95%;
        padding: 20px;
    }
    .bannerContent h2 {
        font-size: 1.6rem;
    }
    .bannerContent p {
        font-size: 1rem;
    }
    .banner-button {
        align-self: center;
        width: 100%;
        text-align: center;
    }
}

/* ABOUT US */
.about-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 60px 20px;
}
.about-section h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #195154
}
.about-section p {
    max-width: 800px;
    font-size: 1.2rem;
    line-height: 1.6;
    color: #666;
}

/* ADVANTAGES */
.services-section {
    padding: 50px 20px;
    text-align: center;
    margin-bottom: 30px;
}
.services-section h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #195154
}
.services-section p {
    font-size: 1.2rem;
    color: #3a3a3a;
    margin-bottom: 20px;
}

.services-list {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.service-item {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    width: 280px;
    text-align: center;
    border: 1px solid #ddd;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.service-item h3 {
    color: #195154;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.service-item p {
    color: #666;
}

/* CONTACT*/
.contactSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* horizontal alignment */
    align-items: center; /* vertical alignment */
    padding: 50px 20px;
    text-align: center;
    margin-bottom: 0px;
}
.contactSection div {
    max-width: 600px;
    margin-bottom: 20px;
    padding: 0px 40px;
}
.contactSection h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #195154
}
.contactSection p {
    font-size: 1.2rem;
    color: #666;
    margin-bottom: 20px;
}
.contactSection ul {
    list-style-type: none;
    color: #666;
    margin-bottom: 20px;
}
.contactSection ul li {
    font-size: 1.2rem;
    margin: 10px 0;
}
.contactSection a {
    color: white;
    
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2rem;
    display: inline-block;

    text-decoration: underline;
    color: inherit;
    padding: 4px 12px;
    border-radius: 5px;
}
.contactSection a:hover {
    background-color: #e6e6e6;
}