.buttonSection {
    border-top: 1px solid #ccc;
    padding: 10px 0;
}

h3 {
    text-align: left;
}

.insideWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 6px;

    padding: 10px 12px;
    background-color: inherit;
    
    border-radius: 10px;
    border: 1px solid #ddd;
}
.insideWrapper button[type="submit"] {
    align-self: flex-end;
    padding: 8px 0;
    max-width: 35%;
    font-weight: normal;
}
.dropdown {
    width: 100%;
}

Form {
    gap: 5px;
}