.scheduleContainer{
    width: 100%;
    max-height: 400px;

    border-radius: 6px;

    overflow-y: auto;
}
table {
    width: 100%;

    border-collapse: collapse;

    background-color: var(--lightBackground);
}
thead {
    position: sticky;
    top: 0;
    z-index: 3;
    width: 100%;
    background-color: var(--darkBackground);
    height: 45px;
}
th, td {
    border-left: none;
    border-right: 5px solid var(--darkBackground);
    text-align: center;
    padding: 8px;
}
th {
    position: sticky;
    top: 0;
    z-index: 4;
    border-bottom: 1px solid var(--darkBackground);
}
td {
    padding: 2px;
    border-bottom: 5px solid var(--darkBackground);
}
th:first-child{
    left: 0;
    z-index: 5;
    border-right: none;
    padding: 0px 8px;
    background-color: var(--darkBackground);
}
td:first-child{
    position: sticky;
    left: 0;
    z-index: 2;
    border-right: none;
    padding-left: 8px;
    padding-right: 8px;
    background-color: var(--darkBackground);
    cursor: default;
}
.scheduleCell.occupied {
    background-color: #5E9771;
}
.scheduleCell.selected {
    background-color: #ff6f61;;
}