.scheduleCell.occupied{
    cursor: pointer;
}
.appointmentDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: var(--darkBackground);

    width: 100%;
    max-width: 400px;
    height: 150px;
    margin-bottom: 10px;

    box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
}
#appointmentInfo {
    width: 95%;
    color: #666;
    font-weight: bold;
    margin: 0 5px;
}
.appointmentDetails button{
    max-width: 300px;
}
.removeButton {
    width: auto;
    text-decoration: none;
    color: #ff1713;
    font-weight: bold;
    opacity: 0.65;
    background: none;
    box-shadow: none;
    margin: 6px;
    padding: 0px 6px;
    font-size: 16px;
    text-shadow: 0px 2px 2px rgb(235, 235, 235);
}
.removeButton:hover{
    background: none;
    box-shadow: none;
}