.outer-wrapper {
    position: relative;
    width: 100%;
    max-height: 400px;
    overflow: hidden;
    background-color: var(--darkBackground);

    border-radius: 12px;
    border: 1px solid #ddd;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
}

.scheduleContainer {
    height: 100%;
    overflow: auto;
}

table {
    border-collapse: separate;
    background-color: var(--darkBackground);
}
thead {
    position: sticky;
    top: 0;
    z-index: 3;
    width: 100%;
    background-color: var(--darkBackground);
    height: 45px;
}
th, td {
    border-left: none;
    border-right: 5px solid var(--darkBackground);
    text-align: center;
    padding: 8px;
}
th {
    position: sticky;
    top: 0;
    z-index: 4;
    border-bottom: 1px solid var(--darkBackground);
}
td {
    padding: 2px;
    border-bottom: 5px solid var(--darkBackground);
}
th:first-child{
    left: 0;
    z-index: 5;
    border-right: none;
    padding: 0px 8px;
    background-color: var(--darkBackground);
}
td:first-child{
    position: sticky;
    left: 0;
    z-index: 2;
    border-right: none;
    padding-left: 8px;
    padding-right: 8px;
    background-color: var(--darkBackground);
    cursor: default;
}
.scheduleCell.occupied {
    background-color: #5E9771;
}
.scheduleCell.selected {
    background-color: #ff6f61;;
}

td, td:first-child, th, th:first-child{
    border: 1px solid var(--darkBackground);
    

}
th, th:first-child {
    border-radius: 0 0 6px 6px;
}
td:first-child {
    border-radius: 0 6px 0 6px;
}
td {
    border-radius: 6px;
    background-color: var(--lightBackground);
}

 /* SCROLL-BAR */
.scrollbar-corner {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 12px;
    height: 16px;
    background: var(--darkBackground);
    border-bottom-right-radius: 12px;
    z-index: 10;
    pointer-events: none;
}

.scheduleContainer::-webkit-scrollbar {
    width: 12px;
}

.scheduleContainer::-webkit-scrollbar-track {
    border-radius: 12px;
}

.scheduleContainer::-webkit-scrollbar-thumb {
    border-radius: 12px;
    border: 2px solid transparent;
    background-clip: content-box;
    background-color: transparent;
}

.scheduleContainer:hover::-webkit-scrollbar-thumb {
    background-color: #c1c1c1;
}

.scheduleContainer::-webkit-scrollbar-thumb:hover {
    background-color: #a8a8a8;
}