input:focus {
  outline: none;
}
Form {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 300px;
    max-width: 600px;
    gap: 15px;
}

/* SCHEDULE SECTION */
.scheduleCell.occupied {
    background-color: var(--primary);
}
.scheduleSection{
    width: 100%;
    min-width: 300px;
    max-width: 800px;
}
#hoursScheduling{
    max-height: 250px;
}
.scheduleCell.occupied {
    cursor: default;
}
td {
    cursor: pointer;
}

/* BUTTONS SECTION */
.buttonSection {
    display: flex;
    flex-direction: default;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
}
