.clientsWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    width: 100%;
}

.formHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 8px 16px;
}
.formHeader h2 {
    white-space: nowrap;
}
/*NEW CLIENT BUTTON */
.newClientButton {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    background-color: #ffffff;
    color: rgb(50,50,50);
    border: 1px solid #dadce0;
    border-radius: 16px;
    padding: 0 24px 0 16px;
    height: 52px;

    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.25px;

    box-shadow: 0 1px 2px 0 rgba(60,64,67,0.3), 0 1px 3px 1px rgba(60,64,67,0.15);
    transition: box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;
    user-select: none;
}
.newClientButton:hover {
    background-color: rgb(245,245,245)
}
.newClientButton:active {
    background-color: rgb(235,235,235)
}
.newClientButton .icon {
    width: 22px;
    height: 22px;
}

.clientList {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    gap: 6px;
    width: 100%;
    margin: 10px 0;
    height: 400px;
}

@media (min-width: 375px) {
    .clientsWrapper {
        padding: 24px 18px;
        background-color: white;
        
        border-radius: 16px;
        border: 1px solid #ddd;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
    }

    .clientList {
        padding: 24px 18px;
        background-color: white;
        
        border-radius: 8px;
        border: 1px solid #ddd;
        box-shadow: inset 0 4px 6px rgba(0, 0, 0, 0.05);
        background-color: #f9f9f9;
    }
}