.buttonRow {
    display: flex;
    justify-content: space-between;

    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid rgb(220,220,220);
}

.editingButtonsRow {
    display: flex;
    flex-direction: row;
    gap: 10px;
}