.overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 9999;
}

.modal {
    position: relative;
    background: var(--lightBackground);
    padding: 24px 32px;
    border-radius: 12px;
    max-width: 400px;
    width: 90%;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
    animation: fadeInScale 0.2s ease-out;
}

@keyframes fadeInScale {
    from {
        opacity: 0;
        transform: scale(0.95);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.modal h2 {
    margin-top: 0;
    font-size: 1.5rem;
}
.statusMessage {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #2e7d32;
    height: 1rem;
}
.statusMessage .icon {
    width: 22px;
    height: 22px;
}

.infoRow {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px 0 30px 0;
    font-size: 1rem;
    color: #444;
}

.label {
    font-weight: bold;
    color: #222;
}

.input {
    font-size: 1rem;
    padding: 0 12px;
    border-radius: 4px;
    border: 1px solid #ccc;
}
input:focus {
    outline: var(--primary);
}

.buttonRow {
    display: flex;
    justify-content: space-between;
    margin-top: 18px;
}
.editButtonsRow {
    display: flex;
    flex-direction: row;
    gap: 10px;
}