/* SIDEBAR */
.sidePanel {
	position: relative;
	width: 280px;
	padding: 18px 20px;
	box-shadow: 2px 0 8px rgba(0, 0, 0, 0.05);
	transition: width 0.3s ease;
}

/* SIDEBAR HEADING */
.heading {
    display: flex;
    align-items: center;
	justify-content: space-between;
    gap: 10px;
	margin-bottom: 30px;
}
.brand,
.panelButton {
	box-sizing: content-box;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 24px;
    height: 24px;
	padding: 8px;
	border-radius: 10px;
}
.brandLogo{
	width: 30px;
}
.panelButton {
    margin: 6px;

	background-color: transparent;
	color: #000;
    border: none;
}
.panelButton:hover,
.brand:hover {
    background-color: rgb(230,230,230);
}

/* SIDEBAR DROPDOWNS */
.dropdownContent {
	display: flex;
	align-items: stretch;
	justify-content: right;
	margin-bottom: 4px;
}
.dropdownColumn {
	background-color: rgb(200,200,200);
	margin-left: 22px;
	width: 4px;
	border-radius: 16px;
}

/* SIDEBAR OPTIONS*/
.panelOption,
.panelSubOption {
	user-select: none;
	display: flex;
	align-items: center;
	text-decoration: none;
	cursor: pointer;
	border-radius: 12px;

	font-size: 0.95rem;
	color: rgb(40,40,40);
}
.panelOption {
	justify-content: space-between;
	padding: 0 14px;
	height: 44px;
	width: 100%;
	font-weight: normal;
	border: none;
}
/* DROPDOWNS */
.dropdownOptions {
	width: 100%;
}
.panelSubOption {
	margin-left: 8px;
	padding: 0 12px;
  	height: 40px;
  	font-size: 0.95rem;
  	font-weight: normal;
}
/* STRUCTURE */
.iconWithTitle {
	display: flex;
	align-items: center;
	gap:2px
}
.icon {
	width: 22px;
	height: 22px;
}
.panelOption span {
	padding: 0 10px;
	display: inline-block;
}
/* COLORING */
.panelOption:hover:not(.activeOption),
.panelSubOption:hover:not(.activeOption) {
	background-color: rgb(235,235,235);
}
.panelOption:active:not(.activeOption),
.panelSubOption:active:not(.activeOption) {
	background-color: rgb(225,225,225);
}
.activeOption {
	background-color: rgb(225,225,225);
	font-weight: 500;
}