/* SIDEBAR */
.sidePanel {
	position: relative;
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 280px;
	box-shadow: 2px 0 8px rgba(0, 0, 0, 0.05);
	transition: width 0.3s ease;
}
.sidePanel.retracted {
	width: 80px;
}
.filler {
  	flex-grow: 1;
  	flex-shrink: 1;
  	flex-basis: 0;
}

/* SIDEBAR HEADING */
.heading, .panelOptions {
	padding: 14px 20px;
}
.heading {
    display: flex;
    align-items: center;
	justify-content: space-between;
    gap: 10px;
	padding-bottom: 10px;
}
/* PANEL BUTTON */
.brand,
.panelButton {
	box-sizing: content-box;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 24px;
    height: 24px;
	padding: 8px;
	border-radius: 10px;
}
.panelButton {
	position: relative;

	background-color: transparent;
	color: rgb(140,140,140);
    border: none;
}
.brandLogo {
	width: 26px;
}
.panelButton:hover,
.brand:hover {
    background-color: rgb(230,230,230);
}
.panelButtonIconWrapper {
  	position: relative;
	box-sizing: content-box;
  	display: inline-block;
}
.brandLogo.default {
  	display: block;
}
.icon.hover {
  	display: none;
}
.heading:hover .brandLogo.default {
  	display: none;
}
.heading:hover .icon.hover {
  	display: block;
}

/* SIDEBAR DROPDOWNS */
.dropdownContent {
	display: flex;
	align-items: stretch;
	justify-content: right;
	margin-bottom: 4px;
}
.dropdownColumn {
	background-color: rgb(200,200,200);
	margin-left: 22px;
	width: 4px;
	border-radius: 16px;
}

/* SIDEBAR OPTIONS*/
.panelOption,
.panelSubOption {
	user-select: none;
	display: flex;
	align-items: center;
	text-decoration: none;
	cursor: pointer;
	border-radius: 12px;
	height: 40px;
	font-size: 0.9rem;
	gap: 6px;
	color: rgb(40,40,40);
}
.panelOption {
	position: relative;
	padding: 10px;

	width: 100%;
	font-weight: normal;
	border: none;
}
/* DROPDOWNS */
.dropdownOptions {
	width: 100%;
}
.panelSubOption {
	margin-left: 8px;
	padding: 0 12px;
  	height: 40px;
  	font-size: 0.95rem;
  	font-weight: normal;
}
/* STRUCTURE */
.icon {
	width: 20px;
	height: 20px;
}
.panelOption title {
	padding: 0 10px;
	display: inline-block;
}
/* COLORING */
.panelOption:hover:not(.activeOption),
.panelSubOption:hover:not(.activeOption) {
	background-color: rgb(235,235,235);
}
.panelOption:active:not(.activeOption),
.panelSubOption:active:not(.activeOption) {
	background-color: rgb(225,225,225);
}
.activeOption {
	background-color: rgb(230,230,230);
	font-weight: 500;
}

/* TOOLTIP */
.tooltip {
	white-space: nowrap;
  	visibility: hidden;
  	background-color: rgb(30,30,30);
  	color: var(--lightBackground);
  	text-align: center;
  	padding: 6px 6px 5px 6px;
  	border-radius: 8px;
  	position: absolute;
  	z-index: 1;
	font-size: 0.76rem;
	opacity: 0;

  	top: 120%;
  	left: 50%;
  	transform: translateX(-50%);
}
.panelButton:hover .tooltip,
.panelOption:hover .tooltip {
  	visibility: visible;
  	opacity: 1;
}
.tooltip.adapted {
	left: 120%;
  	top: 50%;
  	transform: translateY(-50%);
}