.statusMessage {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #2e7d32;
    height: 1rem;
}
.statusMessage .icon {
    width: 22px;
    height: 22px;
}

.infoContent {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 10px 0;
}

.infoRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #444;
    height: 30px;
}

.label {
    text-align: left;
    min-width: 80px;
    font-weight: bold;
    color: #222;
}

.input {
    font-size: 1rem;
    padding: 0 10px;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    border: 1px solid #ccc;
}
input:focus {
    outline: var(--primary);
}

/* EMOJI PICKER BUTTON */
.emojiPickerButton {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    font-size: 16px;
    background-color: #f0f0f0;
    transition: background-color 0.2s ease;
    border: 1px solid #ccc;
}
.emojiPickerButton:hover {
    background: #e0e0e0;
}
.emojiPickerBtnLabel {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
}
.emojiPickerBtnLabel .icon {
    width: 22px;
    height: 22px;
    fill: inherit;
    stroke: inherit;
}

/* BUTTON ROW */
.buttonRow {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.editButtonsRow {
    display: flex;
    flex-direction: row;
    gap: 10px;
}