.newElementButton {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    background-color: #ffffff;
    color: rgb(50,50,50);
    border: 1px solid #dadce0;
    border-radius: 16px;
    padding: 0 12px;
    height: 52px;
    min-width: 110px;

    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.25px;

    box-shadow: 0 1px 2px 0 rgba(60,64,67,0.3), 0 1px 3px 1px rgba(60,64,67,0.15);
    transition: box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;
    user-select: none;
}
.buttonTitle {
    display: inline-flex;
    align-items: center;
    gap: 2px;
}
.newElementButton:hover {
    background-color: rgb(245,245,245)
}
.newElementButton:active {
    background-color: rgb(235,235,235)
}
.icon {
    width: 22px;
    height: 22px;
}

/* NEW ELEMENT DROPDOWN MENU */
.newElementMenu {
    position: absolute;
    width: inherit;
    top: 110%;
    left: 0;
    background: white;
    border: 1px solid #ddd;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    border-radius: 8px;
    padding: 8px 0;
    display: flex;
    flex-direction: column;
    z-index: 10;

    transform-origin: top left; /* crucial */
    transform: scale(0);
    transition: transform 0.1s ease, opacity 0.1s ease;
    pointer-events: none
}
.newElementMenu.open {
    opacity: 1;
    transform: scale(1);
    pointer-events: auto;
}
.newElementMenu.closed {
    opacity: 0;
    transform: scale(0.92);
    pointer-events: none;
}

.newElementMenu button {
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    padding: 12px 28px;
    background: none;
    border: none;
    text-align: left;
    cursor: pointer;
}
.newElementMenu button span{
    line-height: 1.2;
}
.newElementMenu button:hover {
    background: #f5f5f5;
}