.overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 9998;
}

.modal {
    position: relative;
    background: var(--lightBackground);
    padding: 24px 32px;
    border-radius: 12px;
    max-width: 400px;
    width: 90%;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
    animation: fadeInScale 0.2s ease-out;
}

@keyframes fadeInScale {
    from {
        opacity: 0;
        transform: scale(0.95);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.modal h2 {
    margin-top: 0;
    font-size: 1.5rem;
}
.statusMessage {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #2e7d32;
    height: 1rem;
}
.statusMessage .icon {
    width: 22px;
    height: 22px;
}

.infoContent {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 10px 0;
}

.infoRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #444;
    height: 30px;
}

.label {
    text-align: left;
    width: 80px;
    font-weight: bold;
    color: #222;
}

.input {
    font-size: 1rem;
    padding: 0 10px;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    border: 1px solid #ccc;
}
input:focus {
    outline: var(--primary);
}
/* EMOJI PICKER BUTTON */
.emojiPickerButton {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    font-size: 16px;
    background: #f1f1f1;
    border: 1px solid #ccc;
}
.emojiPickerBtnLabel {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
}
.emojiPickerBtnLabel .icon {
    width: 22px;
    height: 22px;
    fill: inherit;
    stroke: inherit;
}

.buttonRow {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.editButtonsRow {
    display: flex;
    flex-direction: row;
    gap: 10px;
}