.scheduleWrapper { /* scheduleContainer + scrollbar bar track*/
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding-bottom: 4px;
    user-select: none;

    background-color: var(--darkBackground);
    border: 1px solid #ddd;
    border-radius: 8px;
}
.scheduleWrapperError {
    border: 2px solid #856404;
    border-color: #ffd59e;
}

.scheduleContainer {
    max-height: 420px;
    overflow: auto;
}

table {
    border-collapse: separate;
    background-color: var(--darkBackground);
}

thead {
    position: sticky;
    top: 0;
    z-index: 3;
    width: 100%;
    background-color: var(--darkBackground);
    height: 45px;
}

th, td {
    text-align: center;
    padding: 4px auto;
    min-width: 64px;
}

th {
    position: sticky;
    font-weight: normal;
    top: 0;
    z-index: 4;
}

.scheduleCell {
    height: 32px;
}

th:first-child {
    left: 0;
    z-index: 5;
}

td:first-child {
    position: sticky;
    left: 0;
    z-index: 2;
    background-color: var(--darkBackground);
}
.scheduleCell.selected {
    background-color: #ff6f61;
}
.scheduleCell.occupied {
    background-color: #a8a8a8;
}
td, td:first-child, th {
    border: 1px solid var(--darkBackground);
}
th {
    border-radius: 0 0 6px 6px;
}
td {
    border-radius: 6px;
    background-color: var(--lightBackground);
}
/* OCCUPIED-CELLS LOGIC */
.appointmentGrid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    width: 100%;
    height: 100%;
    border-radius: inherit;
}
.appointmentBlock {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: flex;
    justify-self: flex-start;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    width: 32px;
    height: 100%;
    border-radius: inherit;
}

/* DESCRIPTION */
.description {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    font-size: 1rem;
    opacity: 0.9;
    margin: 8px;
    padding: 8px 16px;
    border-radius: 8px;
    transition: all 0.08s ease-in-out;
    
    border: 1px solid #ccc;
    background-color: #f5f5f5;
    border-color: #b8daff;
}

.descriptionError {
    background-color: #fff4e5;
    color: #856404;
    border-color: #ffd59e;
}

.icon {
    width: 20px;
    height: 20px;
    fill: inherit;
    stroke: inherit;
}

 /* SCROLL-BAR */
.scrollbarCorner {
    width: 14px;
    height: 30px;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 10;
    background-color: inherit;
}

.scheduleContainer::-webkit-scrollbar {
    width: 14px;
    height: 16px;
}

.scheduleContainer::-webkit-scrollbar-track {
    border-radius: 12px;
}

.scheduleContainer::-webkit-scrollbar-thumb {
    cursor: pointer;
    border-radius: 12px;
    background-clip: content-box;
    background-color: transparent;
}

.scheduleContainer:hover::-webkit-scrollbar-thumb {
    background-color: #c1c1c1;
}

.scheduleContainer::-webkit-scrollbar-thumb:hover {
    background-color: #a8a8a8;
}