.cardHeading {
    display: flex;
    flex-direction: column;
    line-height: 1.2rem;
}

.cardName {
    color: var(--font);
    font-size: 1.1rem;
}

.cardStatus {
    width: fit-content;
    font-size: 0.95rem;
    padding: 0 12px;
    border-radius: 16px;
}

.cardStatus.active {
    background-color: #e6f0ff;
    color: #1a73e8;
}

.cardStatus.discharged {
    background-color: #ffe5e5;
    color: #d93025
}