.mainWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
@media (min-width: 375px) {
    .mainWrapper {
        padding: 24px 18px;
        background-color: white;
        
        border-radius: 12px;
        border: 1px solid #ddd;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
    }
}

.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 8px 16px;
}
.heading h2 {
    width: 150px;
    text-align: start;
    font-size: 1.4rem;
    min-width: 100px;
    white-space: nowrap;
}