.summary {
    background-color: #f9fafb;
    border-radius: 8px;
    border: 1px solid #e5e7eb;
    font-size: 0.9rem;
    color: #374151;
}
.graphWrapper {
    display: flex;
    flex-direction: row;
    margin: 8px 0;
    gap: 4px;
}

/* FREQUENCY CHART */
.frequencyChartWrapper {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    height: 220px;
}

/* TREATMENTS CHART */
.treatmentsChartWrapper {
    cursor: pointer;
    overflow-x: auto;
    border: 1px solid #e5e7eb;
    border-radius: 8px;
    background-color: #ffffff;
    padding: 1rem;
    max-width: 100%;
    white-space: nowrap;
}