.appContainer {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.masthead {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 6% 0 0.5%;
    height: 8vh;
    background-color: var(--lightBackground);
    
    border-radius: 30px 30px 0 0;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

.heading {
    display: flex;
    align-items: center;
    gap: 10px;
}

.panelButton {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    padding: 6px;
    margin: 6px;
    background-color: transparent;
    border: none;
    box-sizing: content-box;
    cursor: pointer;
}
.panelButton:hover {
    background-color: #ebebeb;
}
.panelButtonIcon {
    width: inherit;
    height: inherit;
    color: var(--font);
}

.brand {
    display: inline-flex;
    align-items: center;
    gap: 4px;
}
.brand img {
    max-width: 34px;
}
.brand h1 {
    font-size: 1.6rem;
}

/* USER HEADING */
.userHeading {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2px;
}

/* MAIN OUTLET = CONTENT AREA */
.mainContent {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: #f5f6fa;
    /* very light background */
}

.pageContent {
    flex: 1;
    overflow-y: auto;
    background-color: var(--darkBackground);
}