.appContainer {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.masthead {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 1vh;
    padding: 0 6% 0 2%;
    height: 8vh;
    background-color: var(--lightBackground);
    
    border-radius: 30px 30px 0 0;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

.heading {
    display: flex;
    align-items: center;
    gap: 10px;
}

.panelButton {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    padding: 6px;
    background-color: transparent;
    border: none;
    box-sizing: content-box;
    cursor: pointer;
}
.panelButton:hover {
    background-color: #ebebeb;
}
.panelButtonIcon {
    width: inherit;
    height: inherit;
    color: var(--font);
}

.brand {
    display: inline-flex;
    align-items: center;
    gap: 4px;
}
.brand img {
    max-width: 34px;
}
.brand h1 {
    font-size: 1.6rem;
}

/* SIDE PANEL */
.sidePanel {
    background-color: var(--lightBackground);
    height: 100%;
    padding: 12px;
    border-radius: 0 0 0 30px;
}
.panelOption {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px 20px;
    width: 100%;

    font-size: 1rem;
    text-decoration: none;
    color: var(--font);

    background-color: var(--lightBackground);
    transition: color 0.2s ease;
    border: none;
    border-radius: 14px;
}
.panelOption span {
    display: inline-block;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.panelButton, .panelOption {
    transition: background-color 0.2s ease
}
.panelButton:hover, .panelOption:hover {
    filter: brightness(95%);
}
.panelButton:active, .panelOption:active {
    filter: brightness(90%);
}

.activeOption {
    background-color: #ebebeb;
    font-weight: 500;
    color: #000;
}

/* MAIN OUTLET = CONTENT AREA */
.mainContent {
    display: flex;
    height: 100vh;
    background-color: #f5f6fa;
    /* very light background */
}

.pageContent {
    flex: 1;
    padding: 8px;
    overflow-y: auto;
    background-color: var(--darkBackground);
}

.icon {
    width: 24px;
    height: 24px;
    stroke: var(--font);
    fill: var(--font);
}