.appContainer {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.masthead {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 1vh;
    padding: 0 6% 0 2%;
    height: 8vh;
    background-color: var(--lightBackground);
    
    border-radius: 30px 30px 0 0;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

.heading {
    display: flex;
    align-items: center;
    gap: 10px;
}

.panelButton {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    padding: 6px;
    background-color: transparent;
    border: none;
    box-sizing: content-box;
    cursor: pointer;
}
.panelButton:hover {
    background-color: #ebebeb;
}
.panelButtonIcon {
    width: inherit;
    height: inherit;
    color: var(--font);
}

.brand {
    display: inline-flex;
    align-items: center;
    gap: 4px;
}
.brand img {
    max-width: 34px;
}
.brand h1 {
    font-size: 1.6rem;
}
/* USER HEADING */
.userHeading {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2px;
}
.userIcon {
    width: 48px;
    height: 48px;
}

/* SIDE PANEL */
.sidePanel {
    background-color: var(--primary);
    height: 100%;
    padding: 12px;
    border-radius: 0 0 0 30px;
    box-shadow: 2px 0 8px rgba(0, 0, 0, 0.05);
}
.panelOption {
    display: flex;
    align-items: center;
    padding: 12px 14px;
    width: 100%;

    font-size: 1rem;
    text-decoration: none;
    font-weight: normal;
    color: var(--darkBackground);

    cursor: pointer;
    background-color: var(--primary);
    transition: background-color 2s ease;
    border: none;
    border-radius: 12px;
}
.sidePanel .icon {
    width: 24px;
    height: 24px;
}
.panelOption span {
    padding: 0 10px;
    display: inline-block;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.panelButton, .panelOption {
    transition: background-color 0.2s ease
}
.panelOption:hover:not(.activeOption) {
    background-color: #469a81;
}
.panelOption:active:not(.activeOption) {
    background-color: #3a826d;
}
.activeOption {
    background-color: #418f78;
    font-weight: 500;
}

/* MAIN OUTLET = CONTENT AREA */
.mainContent {
    display: flex;
    height: 100vh;
    background-color: #f5f6fa;
    /* very light background */
}

.pageContent {
    flex: 1;
    overflow-y: auto;
    background-color: var(--darkBackground);
}