.appContainer {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    height: 100vh;
}

.mainContent {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--lightBackground);
}

.masthead {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 6% 0 0.5%;
    height: 8vh;
    background-color: var(--lightBackground);
}

.heading {
    display: flex;
    align-items: center;
    gap: 10px;
}

.panelButton {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    padding: 6px;
    margin: 6px;
    background-color: transparent;
    border: none;
    box-sizing: content-box;
    cursor: pointer;
}
.panelButton:hover {
    background-color: #ebebeb;
}
.panelButtonIcon {
    width: inherit;
    height: inherit;
    color: var(--font);
}

.brandName {
    padding: 0 12px;
    font-size: 1.4rem;
}

/* USER HEADING */
.userHeading {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2px;
}

.pageContent {
    flex: 1;
    overflow-y: auto;
    background-color: var(--darkBackground);
}