.label {
    font-weight: normal;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    transition: background 0.3s, transform 0.2s;

    color: #195154;
    text-transform: uppercase;
    font-size: 0.85rem;

    text-decoration: none;
    font-weight: normal;

    background-color: white;

    padding: 10px;
    
    width: 150px;
    height: 90px;

    border-radius: 12px;
    border: 1px solid #ddd;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card:hover {
    transform: scale(1.01);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.12);
}

.icon-container svg {
    width: 24px;
    height: 24px;
    stroke: var(--font);
    fill: var(--font);
}