.headerLogo {
    max-width: 100px;
}

.observation {
    border-top: 1px solid #ccc;
    max-width: 360px;
    padding: 10px 10px 0 10px;
    font-size: 1rem;
    opacity: 0.8;
}

.loginWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
}
.formGroup {
    width: 100%;
    padding: 6px 0;
}

.loginButton {
    width: 80%;
    background-color: var(--primary);
    color: var(--darkBackground);
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: bold;
    text-transform: uppercase;
    margin: 16px 0;
    border-radius: 16px;
    padding: 12px;
    border: 1px solid #ccc;
    transition: all 0.08s ease-in-out;
}

.loginButton:hover {
    background-color: var(--primaryFocused);
}

@media (min-width: 375px) {
    .loginWrapper {
        padding: 24px 18px;
        background-color: white;
        
        border-radius: 16px;
        border: 1px solid #ddd;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
    }
}