.clientCard {
    border-radius: 6px;
    width: 100%;
    padding: 2px 0;

    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    border: 1px solid #ccc;
}

.returnButton:hover {
    background-color: var(--primaryHover);
}

.cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 12px;
    font-size: 1rem;
}

.cardName {
    color: var(--font);
    font-size: 1.1rem;
}

.cardButtonSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 5px;
    gap: 10px;
}

.scheduleButton {
    color: var(--font);
    opacity: 0.8;
    border: none;
    font-weight: bold;
    padding: 10px;
    border-radius: 20px;
    font-size: 16px;
    background-color: transparent;
    transition: background 0s;
}

.expandButton {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    padding: 4px;
    background-color: transparent;
    border: none;
    box-sizing: content-box;
    cursor: pointer;
}

.expandIcon {
    width: inherit;
    height: inherit;
    color: var(--font);
}

.scheduleButton:hover, .expandButton:hover, .deleteButton:hover {
    background-color: #ebebeb;
}

.cardBody {
    margin-top: 10px;
    padding: 10px 0;
    border-top: 1px solid #ddd;
    background: #f5f5f5;
    gap: 10px;
}

.deleteButton {
    border-radius: 6px;
    color: #dc3545;
    margin: 6px;
    font-weight: bold;
    opacity: 0.8;
    font-size: 1rem;
    padding: 4px;
    cursor: pointer;
    
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.05);
    background-color: #f9f9f9;
    border: 1px solid #ccc;
}

.cardBody.active {
    display: block;
}