.searchBox {
    width: 100%;
    font-size: 16px;
    padding: 10px;
    cursor: pointer;
    text-align: left;
    font-weight: normal;
    background-color: white;
    color: #333;
    border-radius: 6px;
    border: 1px solid #ddd;
}

.dropdownBtnError {
    border: 1px solid #ccc;
    box-shadow: 0 0 0 1px var(--error);
}

.searchBox{
    position: sticky;
    top: 0;
    z-index: 10;

    border-radius: 6px 0 0 0;
    border-right: none;
}

.dropdownContent {
    position: absolute;
    width: 100%;
    background: white;
    max-height: 200px;
    overflow-y: auto;
    top: 0;
    z-index: 100;

    border-radius: 6px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.dropdownContent div, .dropdownNoOption {
    padding: 8px;
    cursor: pointer;
    font-size: 1rem;
}

.dropdownNoOption {
    cursor: default;
    color: rgb(60,60,60);
}

.dropdownContent div:hover {
    background: var(--primary);
    color: var(--lightBackground);
}