.contentWrapper {
    display: flex;
    gap: 10px;
}

.appointmentList {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    gap: 4px;
    width: 100%;
    max-width: 320px;
    margin: 10px 0;
    height: 400px;
}

@media (min-width: 375px) {
    .appointmentList {
        padding: 8px;
        background-color: white;
        
        border-radius: 8px;
        border: 1px solid #ddd;
        box-shadow: inset 0 4px 6px rgba(0, 0, 0, 0.05);
        background-color: #f9f9f9;
    }
}

 /* SCROLL-BAR */
.appointmentList::-webkit-scrollbar {
    width: 14px;
}
.appointmentList::-webkit-scrollbar-track {
    border-radius: 12px;
}
.appointmentList::-webkit-scrollbar-thumb {
    cursor: pointer;
    border-radius: 12px;
    background-clip: content-box;
    background-color: transparent;
}
.appointmentList:hover::-webkit-scrollbar-thumb {
    background-color: #c1c1c1;
}
.appointmentList::-webkit-scrollbar-thumb:hover {
    background-color: #a8a8a8;
}