.dropdown {
    position: relative;
    display: flex;
    align-items: center;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.dropdownError {
    box-shadow: 0 0 0 1px var(--error);
}

.dropdownToggle {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    cursor: pointer;
    width: 100%;
    padding: 8px 4px;
}
.dropdownLabel {
    flex: 1;
    text-align: center;
    color: rgb(60,60,60);
}
.icon {
    width: 18px;
    height: 18px;
    box-sizing: content-box;
    color: var(--font);
}

.options {
    position: absolute;
    cursor: pointer;
    bottom: 100%;
    transform: translateY(4px);
    left: -1px;
    right: -1px;
    border: 1px solid #ccc;
    border-bottom: none;
    background-color: white;
    z-index: 1000;
    max-height: 200px;
    font-size: 0.8rem;
    overflow-y: auto;
    border-radius: 6px 6px 0 0;
}

.options li {
    border-radius: 6px;
    padding: 10px;
    background-color: white;
}

.options li:hover {
    background-color: #f0f0f0;
}