.scheduleForm {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.schedulingLabel {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 1.1rem;
    width: 100%;
}

.buttonsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    margin: 4px 0;
}

.formButton {
    background-color: var(--primary);
    color: var(--darkBackground);
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    margin: 10px 0;
    border-radius: 4px;
    padding: 12px;
    width: 100%;
    border: 1px solid #ccc;
}

.formButton:hover {
    background-color: var(--primaryFocused);
}

@media (min-width: 375px) {
    .mainWrapper {
        padding: 10px 24px;
        background-color: white;
        
        border-radius: 12px;
        border: 1px solid #ddd;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
    }
}

@media (max-width: 375px) {
    .clientWrapper, .roomWrapper {
        padding: 10px 8px;
        background-color: white;
        border-radius: 8px;
        border: 1px solid #ddd;
    }
}