.scheduleForm {
    display: flex;
    flex-direction: column;
}
.formWrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.inputsWrapper {
    display: flex;
    flex-direction: column;
    min-width: 300px;
}
.clientWrapper, .roomWrapper {
    max-width: 300px;
}
.hoursWrapper {
    max-width: 500px;
    max-height: 400px;
}

.buttonsContainer {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    margin-top: 16px;
    width: 100%;
}

.formButton {
    background-color: var(--primary);
    color: var(--darkBackground);
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    margin: 10px 0;
    border-radius: 4px;
    padding: 12px;
    width: 40%;
    max-width: 160px;
    border: 1px solid #ccc;
}

.formButton:hover {
    background-color: var(--primaryFocused);
}

@media (max-width: 768px) {
    .formWrapper {
        flex-direction: column;
    }
    .buttonsContainer {
        justify-content: center;
    }
    .hoursWrapper {
        height: 320px;
        max-width: 300px;
    }
}

@media (min-width: 375px) {
    .mainWrapper {
        padding: 10px 24px;
        background-color: white;
        
        border-radius: 12px;
        border: 1px solid #ddd;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
    }
}

@media (max-width: 374px) {
    .clientWrapper, .roomWrapper {
        margin: 2px 0;
        padding: 10px 8px;
        background-color: white;
        border-radius: 8px;
        border: 1px solid #ddd;
    }
}