.mainWrapper {
    max-width: 95%;
}
.scheduleForm {
    max-width: 900px;
    display: grid;
    grid-template-columns: 1fr; /* Mobile default: 1 column */
    grid-template-rows: auto;
    gap: 1rem;
}
.inputsWrapper {
    min-width: 0
}
.formGroup {
    min-width: 0
}
.hoursWrapper {
    min-width: 0
}
.buttonsContainer {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    min-width: 0;
}
@media (min-width: 768px) {
    .scheduleForm {
      grid-template-columns: 5fr 3fr;
      grid-template-rows: 6fr 1fr;
      grid-template-areas:
        "a b"
        "a c";
    }
    .hoursWrapper {
      grid-area: a;
    }
    .inputsWrapper {
      grid-area: b;
    }
    .buttonsContainer {
      grid-area: c;
    }
}

@media (min-width: 375px) {
    .mainWrapper {
        padding: 10px 24px;
        background-color: white;
        border-radius: 12px;
        border: 1px solid #ddd;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
    }
}

.formButton {
    background-color: var(--primary);
    color: var(--darkBackground);
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    margin: 10px 0;
    border-radius: 4px;
    padding: 12px;
    width: 40%;
    max-width: 160px;
    border: 1px solid #ccc;
}

.formButton:hover {
    background-color: var(--primaryFocused);
}

.formTextarea {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 10px;
    resize: none; /* Impede redimensionamento */
    transition: border-color 0.3s ease;
}

.formTextarea:focus {
    outline: none;
    border-color: var(--primaryFocused);
    background-color: #fff;
}