.headerLogo {
    max-width: 100px;
}

Form {
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 10px;
}

Form input[type="submit"] {
    background-color: var(--primary);
    font-weight: bold;
    color: var(--darkBackground);
    cursor: pointer;
    margin: 10px 0;
}

Form input[type="submit"]:hover {
    background-color: var(--primaryFocused);
}

Form label, .fieldLabel, Form input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

Form label, .fieldLabel {
    font-size: 16px;
}

Form input {
    width: 100%;
    font-size: 16px;
    padding: 12px;
    border-radius: 4px;
    border: 1px solid #ccc;
}
input:focus {
    outline: var(--primary);
}

#welcomeMessage {
    font-weight: bold;
    font-size: 1.6rem;
    opacity: 0.9;
}

#statusMessage, #errorMessage {
    height: 1rem;
    margin-bottom: 10px;
    opacity: 0.9;
}

#errorMessage {
    opacity: 0.7;
    color: red;
}

@media (min-width: 375px) {
    .loginWrapper {
        padding: 24px 18px;
        background-color: white;
        
        border-radius: 16px;
        border: 1px solid #ddd;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
    }
}
.loginWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
}
.observation {
    border-top: 1px solid #ccc;
    max-width: 360px;
    padding: 10px 10px 0 10px;
    font-size: 1rem;
    opacity: 0.8;
}