.clientForm {
    display: flex;
    flex-direction: column;
    padding-top: 6px;
    width: 300px;
    gap: 10px;
}

#statusMessage {
    height: 1rem;
    margin-bottom: 10px;
    opacity: 0.9;
}

.dateWrapper {
    display: grid;
    grid-template-columns: 3fr 5fr 4fr;
    gap: 5px;
    width: 100%;
}

.buttonsContainer {
    gap: 15px;
    margin: 10px 0;
}

.buttonsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}

.formButton {
    background-color: var(--primary);
    color: var(--darkBackground);
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    margin: 10px 0;
    border-radius: 4px;
    padding: 12px;
    width: 100%;
    border: 1px solid #ccc;
}

.formButton:hover {
    background-color: var(--primaryFocused);
}

@media (min-width: 375px) {
    .mainWrapper {
        padding: 10px 24px;
        background-color: white;
        
        border-radius: 12px;
        border: 1px solid #ddd;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
    }
}