.formButton {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    text-transform: uppercase;
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: 600;

    width: 100%;
    padding: 16px;
    margin: 10px 0;
    border-radius: 16px;
    transition: all 0.08s ease-in-out;
    border: 1px solid #ccc;
}

.confirmBtn {
    min-width: 55%;
    border: none;
    background-color: var(--primary);
    color: var(--darkBackground);
}

.confirmBtn:hover {
    background-color: var(--primaryHover);
}

.icon {
    position: absolute;
    left: 6%;
    width: 20px;
    height: 20px;
    display: block;
    pointer-events: none;
}