.profileContainer {
    position: relative;
    display: inline-block;
}

.userIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 44px;
    height: 44px;
    border-radius: 50%;
}
.userInfoSection {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    border-bottom: 1px solid #eee;
    gap: 0.5rem;
    font-weight: 500;
}
.userInfoSection .userIcon {
    cursor: default;
}
.userInfo {
    display: flex;
    flex-direction: column;
}
.userInfo span {
    line-height: 1.2rem;
}
.userInfo .email {
    font-size: 0.95rem;
    color: rgb(100,100,100)
}

.dropdown {
    position: absolute;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 300px;
    top: 100%;
    right: 0;

    background: #fff;
    border: 1px solid #ddd;
    border-radius: 12px;

    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    z-index: 1000;
}
.dropdownItem {
	display: flex;
	align-items: center;
	padding: 12px 14px;
    gap: 2px;
	height: 50px;
	width: 100%;

	font-size: 1rem;
	text-decoration: none;
	font-weight: normal;
	color: var(--darkBackground);

	cursor: pointer;
	background-color: var(--primary);
	border: none;
}
.dropdownItem .icon {
	width: 28px;
	height: 28px;
}
.dropdownItem:hover {
	background-color: #469a81;
}