.timeSummaryContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    margin-top: 0.5rem;
}

.dateButton, .description {
    padding: 8px;
    border-radius: 12px;
    background-color: var(--darkBackground);
    border: 1px solid #ddd;
}

.dateButton, .buttonIcons {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.dateButton {
    gap: 4px;
}

.description {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    width: 100%;
    padding: 8px;
    border-radius: 12px;
    background-color: #f5f5f5;
    border: 1px solid #b8daff;
}

.icon {
    width: 24px;
    height: 24px;
    stroke: inherit;
    fill: inherit;
}

.timeSumError {
    background-color: #fff4e5;
    color: #856404;
    border-color: #ffd59e;
}