.clientForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.formGroup {
    width: 100%;
}
.buttonSection {
    display: inline-flex;
    justify-content: flex-end;
    width: 100%;
    margin-top: 12px;
}

.dateWrapper {
    display: grid;
    grid-template-columns: 3fr 5fr 4fr;
    gap: 5px;
    width: 100%;
}

.formButton {
    background-color: var(--primary);
    color: var(--darkBackground);
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    margin: 10px 0;
    border-radius: 4px;
    padding: 12px;
    width: 100%;
    border: 1px solid #ccc;
}

.formButton:hover {
    background-color: var(--primaryHover);
}