.scheduleWrapper { /* scheduleContainer + scrollbar bar track*/
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: var(--darkBackground);

    border-radius: 8px;
    border: 1px solid #ddd;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
    user-select: none;
}

.scheduleContainer {
    max-height: 420px;
    overflow: auto;
}

.timeSummary {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 8px;

}

.timeSumError {
    font-weight: bold;
    color: var(--error);
}

table {
    border-collapse: separate;
    background-color: var(--darkBackground);
    cursor: pointer;
}

thead {
    position: sticky;
    top: 0;
    z-index: 3;
    width: 100%;
    background-color: var(--darkBackground);
    height: 45px;
}
th, td {
    border-left: none;
    text-align: center;
    padding: 8px;
    min-width: 70px;
}
th {
    position: sticky;
    font-weight: normal;
    top: 0;
    z-index: 4;
}
td {
    padding: 0;
    height: 32px;
}
th:first-child {
    left: 0;
    z-index: 5;
    background-color: var(--darkBackground);
}
td:first-child {
    position: sticky;
    left: 0;
    z-index: 2;
    background-color: var(--darkBackground);
    cursor: default;
}
.scheduleCell.selected {
    background-color: #ff6f61;
}

td, td:first-child, th, th:first-child{
    border: 1px solid var(--darkBackground);
}
th, th:first-child {
    cursor: default;
    border-radius: 0 0 6px 6px;
}
td {
    border-radius: 6px;
    background-color: var(--lightBackground);
}
td:first-child {
    border-radius: 0 6px 6px 0;
}

/* OCCUPIED-CELLS LOGIC */
.scheduleCell,
.appointment-grid {
    overflow: hidden;
}

.appointment-grid {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.appointment-indicator {
    min-width: 30px;
    flex: 1;
}

 /* SCROLL-BAR */
.scrollbarCorner {
    width: 14px;
    height: 18px;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 10;
    background-color: inherit;
}

.scheduleContainer::-webkit-scrollbar {
    height: 18px;
    width: 14px;
}

.scheduleContainer::-webkit-scrollbar-track {
    border-radius: 12px;
}

.scheduleContainer::-webkit-scrollbar-thumb {
    cursor: pointer;
    border-radius: 12px;
    background-clip: content-box;
    background-color: transparent;
}

.scheduleContainer:hover::-webkit-scrollbar-thumb {
    background-color: #c1c1c1;
}

.scheduleContainer::-webkit-scrollbar-thumb:hover {
    background-color: #a8a8a8;
}