.overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 9998;
}

.modal {
    position: relative;
    background: var(--lightBackground);
	border: 1px solid #ccc;
    padding: 24px 32px;
    border-radius: 12px;
    max-width: 400px;
    width: 90%;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
    animation: fadeInScale 0.2s ease-out;
}
@keyframes fadeInScale {
    from {
        opacity: 0;
        transform: scale(0.95);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@media (max-width: 480px) {
  .modal {
    padding: 24px 16px;
  }
}

/* MODAL HEADER */
.modalHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 8px;
}
.modalHeader h2 {
    white-space: nowrap;
    font-size: 1.4rem;
}