.emojiPickerButton {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    font-size: 16px;
    background-color: #f0f0f0;
    transition: background-color 0.2s ease;
    border: 1px solid #ccc;
}

.emojiPickerButton:hover {
    background: #e0e0e0;
}

.emojiPickerBtnLabel {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
}

.emojiPickerBtnLabel .icon {
    width: 22px;
    height: 22px;
    fill: inherit;
    stroke: inherit;
}