.tableMovingContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 0.5rem;
    margin-bottom: 6px;
}

.todayButton {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 999px;
    color: #444;
    font-size: 1rem;
    padding: 6px 0px;
    height: 100%;
    width: 80px;
}

/* WEEK CONFIGS */
.weekConfigs {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.weekButton {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    font-size: 1rem;
    color: #444;
    border-radius: 50%;
    padding: 6px;
}

/* CALENDAR */
.dateGroup, .dateElement {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.dateGroup {
    justify-content: space-between;
    gap: 10px;
    color: #444;
    font-size: 1rem;
}
.dateElement {
    display: flex;
    justify-content: center;
    overflow: hidden;
    border-radius: 12px;
    gap: 4px;
    height: 100%;
}
.moveButton {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: inherit;
    font-size: 1rem;
    color: #444;
    padding: 6px;
    transition: background-color 0.4s ease-in-out;
}
.monthLabel {
    min-width: 90px;
}
.yearLabel {
    min-width: 45px;
}

/* BUTTONS */
.todayButton, .weekButton, .dateElement{
    background-color: var(--darkBackground);
    border: 1px solid #ccc;
    transition: background-color 0.4s ease-in-out;
}
.todayButton:hover, .weekButton:hover, .moveButton:hover {
    background-color: #e3e3e3;
}

/* ICONS */
.icon {
    width: 22px;
    height: 22px;
    stroke: inherit;
    fill: inherit;
}