:root {
    --primary: #4da78d;
    --primaryFocused: #3d8d76;
    --secondary: #a3dbcf;
    --complementary: #d6f0e8;
    --font: #1f3a57;
    --h2Font: #195154;
    --lightBackground: #fcfdfa;
    --darkBackground: #f5f9f5;
    --gradientBackground: linear-gradient(to bottom, #fcfdfa 0%, #ddd 100%);
    --error: rgba(220, 60, 75, 0.9)
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    cursor: default;
    line-height: 1.6;
    color: var(--font);
    background-color: var(--lightBackground);
}

body h2 {
    color: var(--h2Font);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--lightBackground);
    text-align: center;
    height: 100%;
    gap: 20px;
    flex: 1;
}

#root {
  display: flex;
  flex-direction: column;
  flex: 1;
}

section {
    scroll-margin-top: 20vh;
}

/* Forms */
.formInput {
    width: 100%;
    font-size: 16px;
    padding: 12px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

input:focus {
    outline: var(--primary);
}

Form label, .fieldLabel, Form input, .fieldLabel {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.statusMessage {
    font-size: 1rem;
    opacity: 0.9;
    padding: 4px 0;
}

.statusMessage.info {
    color: var(--font);
}

.statusMessage.success {
    color: #28a745;
}

.statusMessage.error {
    color: #dc3545;
}

.errorMessage {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-weight: bold;
    height: 1rem;
    font-size: 0.8rem;
    vertical-align: middle;
    color: var(--error);
}

/* SCROLL-BAR */
::-webkit-scrollbar {
    width: 16px;
}

::-webkit-scrollbar-track {
    border-radius: 4px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    border: 2px solid transparent;
    background-clip: content-box;
    background-color: #c1c1c1;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #a8a8a8;
}