:root {
    --primary: #4da78d;
    --primaryFocused: #3d8d76;
    --secondary: #a3dbcf;
    --complementary: #d6f0e8;
    --font: #1f3a57;
    --h2Font: #195154;
    --lightBackground: #fcfdfa;
    --darkBackground: #f5f9f5;
    --gradientBackground: linear-gradient(to bottom, #fcfdfa 0%, #ddd 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

body {
    font-family: 'Poppins', sans-serif;
    cursor: default;
    line-height: 1.6;
    color: var(--font);
    background-color: var(--lightBackground);
}

body h2 {
    color: var(--h2Font);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--lightBackground);
    text-align: center;
    gap: 20px;
    margin-bottom: 40px;
    flex: 1;
}

footer {
    text-align: center;
    padding: 50px;
    background-color: #333;
    color: white;
    font-size: 1rem;
    bottom: 0;
}