.tableMovingContainer {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    margin-bottom: 6px;
}

.todayButton {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 999px;
    color: #444;
    font-size: 1rem;
    padding: 6px 0px;
    height: 100%;
    width: 80px;
}

/* WEEK CONFIGS */
.weekConfigs {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.moveButton {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    font-size: 1rem;
    color: #444;
    border-radius: 50%;
    padding: 6px;
}

/* CALENDAR */
.dateGroup, .dateElement {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.dateGroup {
    justify-content: space-between;
    gap: 4px;
    color: #444;
    font-size: 1rem;
    width: 260px;
}
.dateElement {
    display: flex;
    justify-content: center;
    width: 100%;
    border-radius: 6px;
    padding: 0 6px;
    height: 100%;
}

/* BUTTONS */
.todayButton, .moveButton, .dateElement {
    background-color: var(--darkBackground);
    border: 1px solid #ccc;
    transition: background-color 0.4s ease-in-out;
}
.todayButton:hover, .moveButton:hover, .dateElement:hover {
    background-color: #e3e3e3;
}

/* ICONS */
.icon {
    width: 22px;
    height: 22px;
    stroke: inherit;
    fill: inherit;
}