header {
    padding-top: 5vh;
    background-color: var(--darkBackground);
}

.headerWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 30px 6% 20px 3%;
    background-color: var(--lightBackground);
    
    border-radius: 30px 30px 0 0;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

.brand {
    display: inline-flex;
    align-items: center;
    gap: 15px;
}

.brand img {
    max-width: 50px;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 30px;
}

nav ul li a {
    opacity: 0.7;
    text-decoration: none;
    color: inherit;
    padding: 6px 12px;
    font-size: 1.1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

nav ul li a:hover {
    background-color: #bbb;
}

@media (max-width: 1536px) and (min-width: 1280px) {
    .headerWrapper {
        padding: 40px 40px 0 40px;
    }
}

@media (max-width: 600px) {
    .headerWrapper {
        justify-content: center;
    }
    .headerWrapper nav {
       display: none;
    }
    .brand img {
        display: none;
    }
}