.mainGroup {
    display: inline-flex;
    gap: 12px;
}

.priority {
    align-self: center;
    padding: 1px 4px;
    border-radius: 6px;
    background-color: #ffe5e5;
    color: #d93025;
}

.centerInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    font-size: 0.95rem;
    line-height: 1.2rem;
    color: rgb(60,60,60);
}

.status {
    padding: 1px 4px;
    border-radius: 16px;
    background-color: #e6f0ff;
    color: #1a73e8;
}

.dateInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 0.9rem;
    line-height: 1.2rem;
    color: rgb(100,100,100);
}

.dateInfo span {
    display: inline-flex;
    align-items: center;
    gap: 2px;
}