.cardAtribute {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;

    font-family: inherit;
    font-weight: bold;

    border: none;
    padding: 10px 12px;
    border-radius: 8px;
    transition: background-color 0.2s ease, transform 0.1s ease;
}
.priority {
    background-color: #ffe5e5;
    color: #d93025;
}
.status {
    background-color: #e6f0ff;
    color: #1a73e8;
}
.client {
    background-color: #f0f0f0;
    color: #333;
}

.cardName {
    color: var(--font);
    font-size: 1.1rem;
}