.clientForm {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.formGroup {
    margin-bottom: 4px;
}

.buttonRow {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.editButtonsRow {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.dateWrapper {
    display: grid;
    grid-template-columns: 3fr 5fr 4fr;
    gap: 5px;
    width: 100%;
}