/* SEARCH BOX */
.searchWrapper {
    position: relative;
    display: inline-flex;
    width: 100%;
}
.searchBox {
    width: 100%;
    font-size: 16px;
    padding: 10px;
    cursor: pointer;
    text-align: left;
    font-weight: normal;
    background-color: white;
    color: #333;
    border: none;
    border-bottom: 1px solid #ddd;
    position: sticky;
    top: 0;
    z-index: 10;
}

.dropdownBtnError {
    border: 1px solid #ccc;
    box-shadow: 0 0 0 1px var(--error);
}

.dropdownContent {
    position: absolute;
    user-select: none;
    width: 100%;
    background: white;
    max-height: 200px;
    overflow-y: auto;
    top: 0;
    z-index: 100;

    border-radius: 4px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* DROPDOWN OPTIONS */
.dropdownOption, .dropdownNoOption {
    position: relative;
    display: flex;
    gap: 20px;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 0.9rem;
}
.firstOptionIcon {
    position: absolute;
    left: 8px;
    top: 50%;
    transform: translateY(-50%);
    height: 24px;
    width: 24px;
}
.dropdownOption.selected {
    background-color: rgb(240,240,240);
}
.dropdownOption:hover {
    background: var(--primary);
    color: var(--darkBackground);
}

.dropdownIcon {
    position: absolute;
    z-index: 100;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
    pointer-events: none;
}

.dropdownNoOption {
    cursor: default;
    color: rgb(60,60,60);
}

/* TOOLTIP */
.tooltip {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    left: 50%;
    bottom: 90%;
    transform: translateX(-50%) translateY(-8px);
    background-color: rgb(100,100,100);
    color: #fff;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 0.75rem;
    white-space: nowrap;
    transition: opacity 0.2s;
    pointer-events: none;
    z-index: 10;
}

.bestOption:hover .tooltip {
    visibility: visible;
    opacity: 1;
}