.mainWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    width: 100%;
}

.formHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 8px 16px;
}
.formHeader h2 {
    white-space: nowrap;
}

.placesList {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    gap: 6px;
    width: 100%;
    margin: 10px 0;
    height: 300px;
}

.returnButton {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 10px;
    margin: 8px 0;
}
/* EMOJI PICKER */
.emojiPickerWrapper {
    display: flex;
    align-items: center;
    height: 100%;
}
.emojiPickerButton {
    background: #f1f1f1;
    border: 1px solid #ccc;
    padding: 6px 12px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    height: 100%;
}
.icon {
    width: 24px;
    height: 24px;
    fill: inherit;
    stroke: inherit;
}

@media (min-width: 375px) {
    .mainWrapper {
        padding: 24px 18px;
        background-color: white;
        
        border-radius: 12px;
        border: 1px solid #ddd;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
    }

    .placesList {
        padding: 24px 18px;
        background-color: white;
        
        border-radius: 8px;
        border: 1px solid #ddd;
        box-shadow: inset 0 4px 6px rgba(0, 0, 0, 0.05);
        background-color: #f9f9f9;
    }
}