/* PLACES LIST */
.placesList {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    gap: 6px;
    width: 100%;
    margin: 10px 0;
    height: 460px;
}
@media (min-width: 375px) {
    .placesList {
        padding: 24px 18px;
        background-color: white;
        
        border-radius: 8px;
        border: 1px solid #ddd;
        box-shadow: inset 0 4px 6px rgba(0, 0, 0, 0.05);
        background-color: #f9f9f9;
    }
}

/* EMOJI PICKER */
.emojiPickerWrapper {
    display: flex;
    align-items: center;
    height: 100%;
}
.emojiPickerButton {
    background: #f1f1f1;
    border: 1px solid #ccc;
    padding: 6px 12px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    height: 100%;
}
.icon {
    width: 24px;
    height: 24px;
    fill: inherit;
    stroke: inherit;
}