.clientList {
    display: flex;
    flex-direction: column;
    align-items: center;

    overflow-y: auto;

    min-width: 300px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    max-height: 400px;
}

.clientCard {
    border-radius: 5px;
    width: 95%;
    margin: 5px;
    transition: all 0.3s ease-in-out;

    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    border: 1px solid #ccc;
}

.clientCard .icon-container {
    cursor: pointer;
}

.clientCard:hover {
    transform: scale(1.01);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.returnButton {
    background-color: var(--primary);
    color: var(--darkBackground);
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    margin: 10px 0;
    border-radius: 4px;
    padding: 12px;
    width: 240px;
    border: 1px solid #ccc;
}

.returnButton:hover {
    background-color: var(--primaryFocused);
}

@media (min-width: 375px) {
    .clientsWrapper {
        padding: 24px 18px;
        background-color: white;
        
        border-radius: 16px;
        border: 1px solid #ddd;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
    }

    .clientList {
        padding: 24px 18px;
        background-color: white;
        
        border-radius: 8px;
        border: 1px solid #ddd;
        box-shadow: inset 0 4px 6px rgba(0, 0, 0, 0.05);
    }
}