.cardHeading {
    display: inline-flex;
    gap: 4px;
}

.cardIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.05rem;
}

.cardDescription {
    display: flex;
    flex-direction: column;
}

.cardDescription span {
    text-align: start;
    line-height: 1.2rem;
}

.cardName {
    color: var(--font);
    font-size: 1.05rem;
}

.placesIcon{
    width: 18px;
    height: 18px;
}
.cardRooms {
    color: rgb(100,100,100);
    font-size: 0.85rem;
}