.cardHeading {
    display: inline-flex;
    gap: 6px;
}

.cardIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.05rem;
}

.cardDescription {
    display: flex;
    flex-direction: column;
    line-height: 1.3rem;
}

.cardName {
    display: inline-flex;
    color: var(--font);
    font-size: 1rem;
}

.roomsIcon {
    width: 18px;
    height: 18px;
}
.cardRooms {
    display: inline-flex;
    text-align: center;
    color: rgb(100,100,100);
    font-size: 0.85rem;
}