{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seus Clientes</title>
    <link rel="icon" type="image/png" href="{%static 'images/Favicon.png'%}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/layout.css' %}">
    <link rel="stylesheet" href="{% static 'css/clients.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <div class="headerTop">
            <div class="headerTitle">
                <h1>Clinicgram</h1>
            </div>
        </div>
    </header>

    <main>
        <h2>Clientes</h2>
        <section class="clientList">
            {% for client in Clients %}
                <div class="clientCard">
                    <div class="cardHeader">
                        <h3>{{ client.name }}</h3>
                        <div class="cardButtonSection">
                            <a href="{% url 'scheduling' %}"><button class="scheduleButton">Agendar</button></a>
                            <span class="icon-container" data-icon="downArrow"></span>
                        </div>
                    </div>
                    <div class="cardBody">
                        <p class="whatsapp"><strong>WhatsApp: </strong>{{ client.whatsapp }}</p>
                        <p><strong>Data de Nascimento: </strong> {{ client.dateOfBirth }}</p>
                        <a href="{% url 'deleteClient' client.id %}" class= "removeButton"
                            onclick="return confirm('Tem certeza que deseja excluir esse cliente?');">Excluir cliente</a>
                    </div>
                </div>
            {% empty %}
                <p id="statusMessage">Nenhum cliente registrado.</p>
                <br>
            {% endfor %}
        </section>

        <section class="buttonSection">
            <a href="{% url 'dashboard' %}">
                <button>Voltar</button>
            </a>
        </section>
    </main>
</body>
</html>

<script>const basePath = "{% static 'images/icons/' %}";</script>
<script src="{% static 'scripts/loadIcons.js' %}"></script>
<script src="{% static 'scripts/expandClient.js' %}"></script>