{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Faça seu login no Clinicgram</title>
    <link rel="icon" type="image/png" href="{%static 'images/Favicon.png'%}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/layout.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <div class="brand">
            <h1>Clinicgram</h1>
        </div>
    </header>

    <main>
        <section class="hero">
            <img src="{%static 'images/Logo.png'%}" height="100" alt="Clinic">
        </section>

        <section>
            <form method="POST" id="loginForm">
                {% csrf_token %}
                {% if form.errors %}
                    <p id="errorMessage">Usuário ou senha inválidos.</p>
                {% else %}
                    <p id="statusMessage">Faça seu login.</p>
                {% endif %}
                <div class="formGroup">
                    <label for="username">RA:</label>
                    <input type="text" id="username" name="username"
                        maxlength="80" placeholder="Digite aqui" required>
    
                    <label for="password">Senha:</label>
                    <input type="password" id="password" name="password" minlenght="8"
                        maxlength="12" placeholder="Digite sua senha" required>
                </div>
                <input type="submit" name="login" value="Entrar">
            </form>
        </section>

        <section class="observation">
            <p>Contate um professor se houver problemas.</p>
        </section>
    </main>

</body>
</html>