{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Cliente</title>
    <link rel="icon" type="image/png" href="{%static 'images/Favicon.png'%}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/layout.css' %}">
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">
    <link rel="stylesheet" href="{% static 'css/registerClient.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <div class="headerTop">
            <div class="headerTitle">
                <h1>Clinicgram</h1>
            </div>
        </div>
    </header>

    <main>
        <section class="mainCard">
            <h2>Registrar Cliente</h2>
            <form method="POST" class="customForm">
                {% csrf_token %}
                <section class="formGroup">
                    <label for="{{ form.name.id_for_label }}">Nome:</label>
                    {{ form.name }}
                    {% if form.name.errors %}
                        <div class="error">{{ form.name.errors }}</div>
                    {% endif %}
      
                    <label for="{{ form.whatsapp.id_for_label }}">WhatsApp:</label>
                    {{ form.whatsapp }}
                    {% if form.whatsapp.errors %}
                        <div class="error">{{ form.whatsapp.errors }}</div>
                    {% endif %}
    
                    <p id="dobLabel" class="fieldLabel">Data de Nascimento:</p>
                    {{ form.dateOfBirth }}
                    {% if form.dateOfBirth.errors %}
                        <div class="error">{{ form.dateOfBirth.errors }}</div>
                    {% endif %}
                    <div class="dateWrapper" aria-labelledby="dobLabel">
                        <div class="dropdown" id="birthDayDropdown">
                            <div class="dropdownToggle">
                                <p class="selectedOption">dia</p>
                                <span class="icon-container" data-icon="downArrow"></span>
                            </div>
                            <ul class="options" id="dayOptions">
                                {% for d in rangeDays %}
                                    <li class="option" data-value="{{ d|stringformat:'02d' }}">{{ d|stringformat:'02d' }}</li>
                                {% endfor %}
                            </ul>
                        </div>

                        <div class="dropdown" id="birthMonthDropdown">
                            <div class="dropdownToggle">
                                <p class="selectedOption">mês</p>
                                <span class="icon-container" data-icon="downArrow"></span>
                            </div>
                            <ul class="options" id="monthOptions">
                                {% for value, name in monthNames %}
                                    <li class="option" data-value="{{ value }}">{{ name }}</li>
                                {% endfor %}
                            </ul>
                        </div>

                        <div class="dropdown" id="birthYearDropdown">
                            <div class="dropdownToggle">
                                <p class="selectedOption">ano</p>
                                <span class="icon-container" data-icon="downArrow"></span>
                            </div>
                            <ul class="options" id="yearOptions">
                                {% for y in rangeYears %}
                                    <li class="option" data-value="{{ y }}">{{ y }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </section>

                <section class="formButtons">
                    <button type="submit">Registrar</button>
                    <button type="button" onclick="window.location.href='{% url 'dashboard' %}'">Voltar</button>
                </section>
            </form>
        </section>
    </main>
</body>
</html>

<script>const basePath = "{% static 'images/icons/' %}";</script>
<script src="{% static 'scripts/loadIcons.js' %}"></script>

<script src="{% static 'scripts/formatPhone.js' %}"></script>

<script> //Dropdown opener-closer
    document.addEventListener('DOMContentLoaded', () => {
        const dropdowns = document.querySelectorAll('.dropdown');
        
        const upIconUrl = `${basePath}upArrow.svg`;
        const downIconUrl = `${basePath}downArrow.svg`;
    
        dropdowns.forEach(dropdown => {
            const toggle = dropdown.querySelector(".dropdownToggle");
            const selectedOption = dropdown.querySelector(".selectedOption");
            const optionsList = dropdown.querySelector(".options");
            const iconContainer = dropdown.querySelector(".icon-container");
            const allOptions = dropdown.querySelectorAll(".option");

    
            toggle.addEventListener('click', (e) => {
                e.stopPropagation();
                closeAllDropdownsExcept(dropdown);

                const isOpen = optionsList.style.display === 'block';
                optionsList.style.display = optionsList.style.display === 'block' ? 'none' : 'block';

                const iconUrl = isOpen ? downIconUrl : upIconUrl;
                fetch(iconUrl)
                    .then(response => response.text())
                    .then(svg => {
                        iconContainer.innerHTML = svg;
                    });
            });
    
            allOptions.forEach(option => {
                option.addEventListener('click', () => {
                    selectedOption.textContent = option.textContent;
                    selectedOption.setAttribute('data-value', option.getAttribute('data-value'));
                    optionsList.style.display = 'none';

                    fetch(downIconUrl)
                    .then(response => response.text())
                    .then(svg => {
                        iconContainer.innerHTML = svg;
                    });
                });
            });
        });
    
        // Close dropdowns if clicking outside
        document.addEventListener('click', () => {
            document.querySelectorAll('.icon-container').forEach(icon => {
            fetch(downIconUrl)
                    .then(response => response.text())
                    .then(svg => {
                        icon.innerHTML = svg;
                    });
                });
            document.querySelectorAll('.options').forEach(opt => opt.style.display = 'none');
        });
    
        function closeAllDropdownsExcept(currentDropdown) {
            document.querySelectorAll('.dropdown').forEach(dropdown => {
                if (dropdown !== currentDropdown) {
                    const optionsList = dropdown.querySelector('.options');
                    const iconContainer = dropdown.querySelector('.icon-container');
                    optionsList.style.display = 'none';
                    
                    fetch(downIconUrl)
                    .then(response => response.text())
                    .then(svg => {
                        iconContainer.innerHTML = svg;
                    });
                }
            });
        }
    });
</script>

<script> // Dropdown hidden input translator
    function updateDateOfBirthInput() {
        const day = document.querySelector('#birthDayDropdown .selectedOption').innerText;
        const month = document.querySelector('#birthMonthDropdown .option.selected')?.dataset.value;
        const year = document.querySelector('#birthYearDropdown .selectedOption').innerText;

        if (day && month && year) {
            const fullDate = `${day}/${month}/${year}`;
            document.getElementById('dateOfBirthInput').value = fullDate;
        }
    }

    function setupDropdown(dropdownId) {
        const dropdown = document.getElementById(dropdownId);
        const options = dropdown.querySelectorAll('.option');
        const display = dropdown.querySelector('.selectedOption');

        options.forEach(option => {
            option.addEventListener('click', () => {
                // Remove 'selected' class from others
                options.forEach(opt => opt.classList.remove('selected'));
                option.classList.add('selected');

                display.innerText = option.innerText;

                updateDateOfBirthInput();
            });
        });
    }

    // Setup all dropdowns
    document.addEventListener('DOMContentLoaded', () => {
        setupDropdown('birthDayDropdown');
        setupDropdown('birthMonthDropdown');
        setupDropdown('birthYearDropdown');
    });
</script>

<script> // Dropdown translator
    function updateDateOfBirthInput() {
        const day = document.querySelector('#birthDayDropdown .selectedOption').innerText;
        const month = document.querySelector('#birthMonthDropdown .option.selected')?.dataset.value;
        const year = document.querySelector('#birthYearDropdown .selectedOption').innerText;

        if (day && month && year) {
            const fullDate = `${day}/${month}/${year}`;
            document.getElementById('birthDate').value = fullDate;
        }
    }

    function setupDropdown(dropdownId) {
        const dropdown = document.getElementById(dropdownId);
        const options = dropdown.querySelectorAll('.option');
        const display = dropdown.querySelector('.selectedOption');

        options.forEach(option => {
            option.addEventListener('click', () => {
                // Remove 'selected' class from others
                options.forEach(opt => opt.classList.remove('selected'));
                option.classList.add('selected');

                display.innerText = option.innerText;

                updateDateOfBirthInput();
            });
        });
    }

    // Setup all dropdowns
    document.addEventListener('DOMContentLoaded', () => {
        setupDropdown('birthDayDropdown');
        setupDropdown('birthMonthDropdown');
        setupDropdown('birthYearDropdown');
    });
</script>