{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Agenda</title>
	<link rel="icon" type="image/png" href="{%static 'images/Favicon.png'%}">
	<link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/layout.css' %}">
    <link rel="stylesheet" href="{% static 'css/scheduleTable.css' %}">
    <link rel="stylesheet" href="{% static 'css/schedule.css' %}">
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
</head>

<body>
	<header>
        <div class="brand">
            <h1>Clinicgram</h1>
        </div>
	</header>

	<main>
		<h2>Agenda</h2>
        <section class="appointmentDetails">
            <p id="appointmentInfo">Selecione um agendamento para ver os detalhes.</p>
            <form id="deleteAppointmentForm" method="POST">
                {% csrf_token %}
                <div id="deleteFormContent"></div>
            </form>
        </section>

	    <section class="outer-wrapper">
            <div class="scheduleContainer">
                <table>
                    <thead>
                        <tr>
                            <th></th>
                            <div><div>
                            {% for dia in dias %}
                                <th>{{ dia|date:"d/m" }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in indexedCells %}
                            <tr>
                                <td>{{ row.0.horario }}</td>
                                {% for cell in row %}
                                    <td class="scheduleCell {% if cell.index in occupiedIndexes %} occupied {% endif %}"
                                        data-index="{{ cell.index }}"
                                        data-time="{{ cell.horario }}"
                                        data-day="{{ cell.dia }}"
                                    >
                                    </td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="scrollbar-corner"></div>
        </section>
      
        <section class="buttonSection">
            <a href="{% url 'dashboard' %}"><button>Voltar</button></a>
        </section>
  	</main>
</body>
</html>

<script> // Schedule table translator.
    document.addEventListener("DOMContentLoaded", function () {
        const occupiedIndexes = {{ occupiedIndexes|safe }};
        const cells = document.querySelectorAll(".scheduleCell");
        const indexedCells = {{ indexedCells|safe }};

        const indicators = document.querySelectorAll(".appointment-indicator");
        const appointments = JSON.parse('{{ Appointments|escapejs }}');

        const clients = JSON.parse('{{ Clients|escapejs }}');
        const rooms = JSON.parse('{{ Rooms|escapejs }}');
    
        indicators.forEach(indicator => {
            indicator.addEventListener("click", function () {
                const appointmentId = indicator.getAttribute("data-appointment-id");
                const appointment = appointments.find(app => String(app.fields.id) === id);

                const startDateTime = appointment.fields.startTime.slice(0, 16);
                const endDateTime = appointment.fields.endTime.slice(0, 16);

                const client = clients.find(client => client.pk === appointment.fields.client);
                const room = rooms.find(room => room.pk === appointment.fields.room);

                const formattedFields = `
                Cliente: ${client.fields.name}<br>
                Início: ${appointment.fields.startTime}<br>
                Fim: ${appointment.fields.endTime}<br>
                Sala: ${room.fields.name}
                `;

                const appId = appointment.pk;
                if (appId) {
                    const appointmentContent = `
                        <button onclick="return confirm('Tem certeza que deseja excluir essa consulta?');"
                            type="submit" class="removeButton">Excluir Consulta</button>
                    `;
                    document.getElementById("appointmentInfo").innerHTML = formattedFields;
                    document.getElementById("deleteFormContent").innerHTML = appointmentContent;
                    
                    const deleteForm = document.getElementById("deleteAppointmentForm");
                    deleteForm.action = `/appointments/deleteAppointment/${appointmentId}/`;
                }
            });
        });
    });
</script>

<script> // Dynamically coloring cells
    document.addEventListener("DOMContentLoaded", function() {
        const appointments = JSON.parse('{{ Appointments|escapejs }}');
        const colors = [ "#ffb3b3", "#b3ffb3", "#b3d9ff", "#ffffb3",
            "#e6b3ff", "#d9d9b3", "#ffb3d9", "#ccccff", "#b3ffb3", "#ff9999"];
        const cells = document.querySelectorAll(".scheduleCell");

        cells.forEach(cell => {
            const oldIndicators = cell.querySelectorAll('.indicator');
            oldIndicators.forEach(ind => ind.remove());
        });

        // For each appointment, find cells that match its time range and add indicator
        appointments.forEach((appointment, i) => {
            const color = colors[i % colors.length];

            const startDateTime = appointment.fields.startTime.slice(0, 16);
            const endDateTime = appointment.fields.endTime.slice(0, 16);

            function subtract30MinFromString(dateTimeStr) {
                const [date, time] = dateTimeStr.split('T');
                let [hour, minute] = time.split(':').map(Number);
                minute -= 30;
                if (minute < 0) {
                    minute += 60;
                    hour -= 1;
                    if (hour < 0) {
                        hour = 23;
                    }
                }
                const pad = n => n.toString().padStart(2, '0');
                return `${date}T${pad(hour)}:${pad(minute)}`;
            }
            const formattedEndDateTime = subtract30MinFromString(endDateTime);

            cells.forEach(cell => {
                const cellDateTime = cell.getAttribute('data-day');

                if (cellDateTime >= startDateTime && cellDateTime <= formattedEndDateTime) {
                    addIndicator(cell, color, i);
                }
            });
        });
    });

    // Create empty color div in the cell's appointment-grid class element.
    function addIndicator(cell, color, appointmentID) {
        let gridContainer = cell.querySelector('.appointment-grid');

        if (!gridContainer) {
            gridContainer = document.createElement("div");
            gridContainer.classList.add("appointment-grid");
            cell.appendChild(gridContainer);
        }
        const div = document.createElement('div');
        div.classList.add('appointment-indicator');
        div.dataset.appointmentId = appointmentID;
        div.style.backgroundColor = color;

        gridContainer.appendChild(div);
    }
</script>