{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agendamento de Consultas</title>
    <link rel="icon" type="image/png" href="{% static 'images/Favicon.png' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/scheduleTable.css' %}">
    <link rel="stylesheet" href="{% static 'css/layout.css' %}">
    <link rel="stylesheet" href="{% static 'css/scheduling.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <div class="brand">
            <h1>Clinicgram</h1>
        </div>
    </header>

    <main>
        <h2>Agendar Consulta</h2>
        <section class="schedulingSection">
            <form action="{% url 'scheduleAppointment' %}" method="POST">
                {% csrf_token %}
                <div class="clientWrapper">
                    <p class= "dropdownLabel" for="clientDropdown">Selecione o Cliente:</p>
                    <div class="dropdown" id="clientDropdown">
                        <button type="button" class="dropdownButton">Selecione um cliente</button>
                        <div class="dropdownContent">
                            <input type="text" class="searchBox" id="clientSearchBox" placeholder="Pesquisar cliente...">
                            {% for client in Clients %}
                                <div class="dropdownOption" data-value="{{ client.id }}"
                                    data-name="{{ client.name }}">{{ client.name }}</div>
                            {% empty %}
                                <p class="dropdownNoOption">Nenhum cliente registrado</p>
                            {% endfor %}
                        </div>
                        <input type="hidden" name="client" class="selectedOption">
                    </div>
                </div>

                <div class="roomWrapper">
                    <p class= "dropdownLabel" for="roomDropdown">Selecione a Sala:</p>
                    <div class="dropdown" id="roomDropdown">
                        <button type="button" class="dropdownButton">{{ defaultRoom.name }}</button>
                        <div class="dropdownContent">
                            <input type="text" class="searchBox" id="roomSearchBox" placeholder="Pesquisar sala...">
                            {% for room in Rooms %}
                                <div class="dropdownOption" data-value="{{ room.id }}"
                                    data-name="{{ room.name }}">{{ room.name }}</div>
                            {% empty %}
                                <p class="dropdownNoOption">Nenhuma sala registrada</p>
                            {% endfor %}
                        </div>
                        <input type="hidden" name="room" class="selectedOption" value="{{ defaultRoom.id }}">
                    </div>
                </div>

                <div class="scheduleSection">
                    <p class= "schedulingLabel" for="hoursScheduling">Selecione o Horário:</p>
                    <div class="outer-wrapper">
                        <div class="scheduleContainer" id="hoursScheduling">
                            <table>
                                <thead>
                                    <tr>
                                        <th></th>
                                        {% for dia in dias %}
                                          <th>{{ dia|date:"d/m" }}</th>
                                        {% endfor %}
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for row in indexedCells %}
                                        <tr>
                                            <td>{{ row.0.horario }}</td>
                                            {% for cell in row %}
                                                <td class="scheduleCell {% if cell.index in occupiedIndexes %}occupied{% endif %}" 
                                                    data-index="{{ cell.index }}"
                                                    data-day="{{ cell.dia }}"
                                                </td>
                                            {% endfor %}
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="scrollbar-corner"></div>
                    </div>
                </div>
                <input type="hidden" name="startTime" id="startTime">
                <input type="hidden" name="endTime" id="endTime">

                <div class="buttonSection">
                    <button type="submit" id="confirmButton">Agendar</button>
                    <button type="button" id="cancelButton" onclick="window.location.href='{% url 'dashboard' %}'">Cancelar</button>
                </div>
            </form>
        </section>
    </main>
</body>
</html>

<script src="{% static 'scripts/dropdown.js' %}"></script>
<script>
    setUpDropdown("clientDropdown");
    setUpDropdown("roomDropdown");
</script>

<script> // Scheduling table cell selection translator.
    document.addEventListener("DOMContentLoaded", function () {
        const roomDropdown = document.getElementById('roomDropdown');
        const roomInput = roomDropdown.querySelector('.selectedOption');

        const occupiedIndexes = {{ occupiedIndexes|safe }};
        const cells = document.querySelectorAll(".scheduleCell");
        const indexedCells = {{ indexedCells|safe }};
    
        cells.forEach(cell => {
            cell.addEventListener("click", function () {
                let row = this.parentNode;
                let table = row.parentNode;
                let rowIndex = [...table.children].indexOf(row);
                let cellIndex = this.cellIndex;
                let firstBlock = this;
                let secondBlock = table.children[rowIndex + 1]?.children[cellIndex];
    
                const firstBlockIndex = Number(firstBlock.dataset.index);
                const secondBlockIndex = secondBlock ? Number(secondBlock.dataset.index) : null;
    
                const selectedRoom = roomInput.value;
                const firstBlockRoom = document.querySelector(`[data-index="${firstBlockIndex}"]`).dataset.room;
                const secondBlockRoom = secondBlock ? document.querySelector(`[data-index="${secondBlockIndex}"]`).dataset.room : null;           
                if (
                    (firstBlockRoom === selectedRoom && occupiedIndexes.includes(firstBlockIndex)) ||
                    (secondBlockRoom === selectedRoom && secondBlock && occupiedIndexes.includes(secondBlockIndex))
                ) {
                    console.log("One or both blocks are occupied in the selected room, not selecting.");
                    return;
                }

                if (!secondBlock) return;
    
                document.querySelectorAll(".scheduleCell.selected").forEach(el => el.classList.remove("selected"));
    
                firstBlock.classList.add("selected");
                secondBlock.classList.add("selected");

                function findDateTimeByIndex(indexedCells, targetIndex) {
                    for (const row of indexedCells) {
                        for (const cell of row) {
                            if (cell.index === targetIndex) {
                                return cell.dia;
                            }
                        }
                    }
                    return null;
                }

                // Gets the selected cells time data, formats it and passes to hidden input
                const startDateTime = findDateTimeByIndex(indexedCells, firstBlockIndex);
                const endDateTime = findDateTimeByIndex(indexedCells, secondBlockIndex);
                document.getElementById("startTime").value = startDateTime;
                document.getElementById("endTime").value = endDateTime;

                const endDateTimeStr = document.getElementById("endTime").value;
                if (endDateTimeStr) {
                    const [date, time] = endDateTimeStr.split("T");
                    let [hours, minutes] = time.split(":").map(num => parseInt(num, 10));
                    minutes += 30;
                    if (minutes >= 60) {
                        minutes -= 60;
                        hours += 1;
                    }
                    hours = hours < 10 ? `0${hours}` : hours;
                    minutes = minutes < 10 ? `0${minutes}` : minutes;
                    const updatedEndDateTimeStr = `${date}T${hours}:${minutes}`;
                    document.getElementById("endTime").value = updatedEndDateTimeStr;
                }            
    
                //console.log("First Block Index:", firstBlockIndex);
                //console.log("Second Block Index:", secondBlockIndex);

                //console.log("First Block Room:", firstBlockRoom)
                //console.log("Second Block Room:", secondBlockRoom);

                //console.log("startDateTime: ", document.getElementById("startTime").value);
                //console.log("endDateTime: ", document.getElementById("endTime").value);
            });
        });
    });    
</script>

<script>
    // For each appointment, find cells that match its time range and assigns cell to that appointment id.
    document.addEventListener("DOMContentLoaded", function() {
        const roomDropdown = document.getElementById('roomDropdown');
        const roomInput = roomDropdown.querySelector('.selectedOption');

        const cells = document.querySelectorAll(".scheduleCell");
        const occupiedIndexes = {{ occupiedIndexes|safe }};

        const appointments = JSON.parse('{{ Appointments|escapejs }}');

        appointments.forEach((appointment) => {
            const startDateTime = appointment.fields.startTime.slice(0, 16);
            const endDateTime = appointment.fields.endTime.slice(0, 16);
            const formattedEndDateTime = subtract30MinFromString(endDateTime);
            const roomId = appointment.fields.room;

            cells.forEach(cell => {
                const cellDateTime = cell.getAttribute('data-day');
                if (cellDateTime >= startDateTime && cellDateTime <= formattedEndDateTime) {
                    let roomList = []; // Saving a JSON of corresponding rooms in the cells dataset.
                    try {
                        if (cell.dataset.room) {
                            roomList = JSON.parse(cell.dataset.room);
                        }
                    } catch (e) {
                        console.warn("Invalid JSON in data-room:", cell.dataset.room);
                        roomList = [];
                    }
                    if (!roomList.includes(roomId)) {
                        roomList.push(roomId);
                    }
                    cell.dataset.room = JSON.stringify(roomList);
                }
            });
        });

        updateTable();

        // Updates dinamically after selected room changes.
        function updateTable() { // Update table based on selected room.
            const selectedRoom = roomInput.value;
            cells.forEach(cell => {
                const roomList = JSON.parse(cell.getAttribute('data-room') || "[]");
                const roomListStrings = roomList.map(String);
                cell.classList.toggle('occupied', roomListStrings.includes(selectedRoom));
            });
        }
        // Add listener to each dropdownOption to update the table.
        const observer = new MutationObserver(() => {
            updateTable();
        });
        observer.observe(roomInput, { attributes: true, attributeFilter: ['value'] });
    });


    function subtract30MinFromString(dateTimeStr) {
        const [date, time] = dateTimeStr.split('T');
        let [hour, minute] = time.split(':').map(Number);
        minute -= 30;
        if (minute < 0) {
            minute += 60;
            hour -= 1;
            if (hour < 0) {
                hour = 23;
            }
        }
        const pad = n => n.toString().padStart(2, '0');
        return `${date}T${pad(hour)}:${pad(minute)}`;
    }
</script>