/* SEARCH BAR */
.searchContainer {
    position: relative;
    width: 100%;
    max-width: 350px;
}
.searchInput {
    width: 100%;
    padding: 10px 15px 10px 40px;
    border: 1px solid #ccc;
    background-color: rgb(250,250,250);
    border-radius: 20px;
    font-size: 16px;
    outline: none;
    transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}
.searchInput:focus {
    background-color: white;
    border-color: var(--primary);
}
.searchIcon {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    color: #888;
    width: 20px;
    height: 20px;
}

/* CARD LIST */
.elementsList {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    gap: 6px;
    width: 100%;
    margin: 10px 0;
    height: 400px;
}
@media (min-width: 375px) {
    .elementsList {
        padding: 16px 2px 16px 8px;
        background-color: white;
        border-radius: 8px;
        border: 1px solid #ddd;
        background-color: #f9f9f9;
    }
}