.mainWrapper {
    max-width: 95%;
}
.scheduleForm {
    max-width: 900px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 1.5rem;
}
.hoursWrapper {
    min-width: 0;
}
.buttonsContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    min-width: 0;
    padding: 0 6px;
}
@media (min-width: 768px) {
    .scheduleForm {
        grid-template-columns: 5fr 3fr;
        grid-template-rows: auto;
        grid-template-areas:
          "a b"
          "a c";
    }
    .hoursWrapper {
        grid-area: a;
    }
    .inputsWrapper {
        grid-area: b;
    }
    .buttonsContainer {
        grid-area: c;
    }
}

@media (min-width: 375px) {
    .mainWrapper {
        padding: 10px 24px;
        background-color: white;
        border-radius: 12px;
        border: 1px solid #ddd;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
    }
}

.formButton {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    text-transform: uppercase;
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: 600;

    width: 100%;
    padding: 8px;
    margin: 10px 0;
    border-radius: 16px;
    transition: all 0.08s ease-in-out;
    border: 1px solid #ccc;
}
.confirmBtn {
    max-width: 60%;
    border: none;
    background-color: var(--primary);
    color: var(--darkBackground);
}
.confirmBtn:hover {
    background-color: var(--primaryHover);
}
.returnBtn {
    max-width: 40%;
    background-color: #f9f9f9;
    color: #444;
}
.returnBtn:hover {
    background-color: #f0f0f0;
    border-color: #aaa;
}
.icon {
    position: absolute;
    left: 6%;
    width: 20px;
    height: 20px;
    display: block;
    pointer-events: none;
}

.formTextarea {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 10px;
    resize: none; /* Impede redimensionamento */
    transition: border-color 0.3s ease;
}

.formTextarea:focus {
    outline: none;
    border-color: var(--primaryHover);
    background-color: #fff;
}

.formHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;
}
.formHeader h2 {
    white-space: nowrap;
}

.dropdownLabel {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-weight: bold;
    opacity: 0.9;
    font-size: 1.1rem;
    width: 100%;
}