.card {
    display: flex;
    justify-content: space-between;
    border-radius: 6px;
    width: 100%;
    padding: 6px 12px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    border: 1px solid #ccc;
}

.cardHeader {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-right: 12px;
}

.cardName {
    color: var(--font);
    font-size: 1.1rem;
}

.cardButtonSection {
    display: inline-flex;
    align-items: center;
    gap: 8px;
}

.cardButton {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 8px;
    padding: 6px;
    background-color: transparent;
    border: none;
    box-sizing: content-box;
    cursor: pointer;
}
.cardButton:hover {
    background-color: #ebebeb;
}
.buttonIcon {
    width: 24px;
    height: 24px;
    color: var(--font);
}