.sidePanel {
	background-color: var(--primary);
	height: 100%;
	padding: 12px 8px 12px 0.5%;
	border-radius: 0 0 0 30px;
	box-shadow: 2px 0 8px rgba(0, 0, 0, 0.05);
}

.panelOption {
	display: flex;
	align-items: center;
	padding: 12px 14px;
	height: 50px;
	width: 100%;

	font-size: 1rem;
	text-decoration: none;
	font-weight: normal;
	color: var(--darkBackground);

	cursor: pointer;
	background-color: var(--primary);
	transition: background-color 2s ease;
	border: none;
	border-radius: 12px;
}

.sidePanel .icon {
	width: 24px;
	height: 24px;
}

.panelOption span {
	padding: 0 10px;
	display: inline-block;
	transition: opacity 0.3s ease, transform 0.3s ease;
}

.panelButton,
.panelOption {
	transition: background-color 0.2s ease
}

.panelOption:hover:not(.activeOption) {
	background-color: #469a81;
}

.panelOption:active:not(.activeOption) {
	background-color: #3a826d;
}

.activeOption {
	background-color: #418f78;
	font-weight: 500;
}