.mainWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    width: 96%;
}

.placeForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    width: 100%;
    padding: 8px 0;
}

.addPlaceGroup {
    display: flex;
    flex-direction: row;
    gap: 2%;
    width: 100%;
}

.formInput {
    font-size: 16px;
    padding: 12px;
    border-radius: 4px;
    border: 1px solid #ccc;
    width: 100%;
}

.formInputError {

}

.submitButton {
    border: none;
    padding: 0 10px;
    border-radius: 4px;
    font-size: 1rem;
    transition: background-color 0.2s;
    color: var(--darkBackground);
    background-color: var(--primary);
}

.submitButton:hover {
    background-color: var(--primaryFocused);
}

.placesList {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    gap: 6px;
    width: 100%;
    margin: 10px 0;
    height: 300px;
}

.returnButton {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 10px;
    margin: 8px 0;
}

@media (min-width: 375px) {
    .mainWrapper {
        padding: 10px 24px;
        background-color: white;
        
        border-radius: 12px;
        border: 1px solid #ddd;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
    }

    .placesList {
        padding: 18px;
        background-color: white;
        
        border-radius: 8px;
        border: 1px solid #ddd;
        box-shadow: inset 0 4px 6px rgba(0, 0, 0, 0.05);
        background-color: #f9f9f9;
    }
}