.placeForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
}

.addPlaceGroup {
    display: flex;
    flex-direction: row;
    gap: 2%;
    width: 100%;
}

.formInput {
    font-size: 16px;
    padding: 12px;
    border-radius: 4px;
    border: 1px solid #ccc;
    width: 100%;
}

.formInputError {

}

.submitButton {
    padding: 0.6rem 0.8rem;
    border: none;
    border-radius: 4px;
    font-weight: 600;
    transition: background-color 0.2s;
    color: var(--darkBackground);
    background-color: var(--primary);
}

.submitButton:hover {
    background-color: var(--primaryFocused);
}

.returnButton {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 10px;
    margin: 8px 0;
}

@media (min-width: 375px) {
    .mainWrapper {
        padding: 10px 24px;
        background-color: white;
        
        border-radius: 12px;
        border: 1px solid #ddd;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
    }
}